<template>
  <q-dialog
    ref="dialog"
    @hide="onDialogHide"
  >
    <q-card class="q-dialog-plugin dialog_card_size">
      <q-bar class="bg-primary text-white rounded-borders">
        <div class="non-selectable">
          Edição dos detalhes do evento
        </div>
        <q-space />
        <q-btn
          @click="onCancelClick"
          dense
          flat
          icon="close"
        />
      </q-bar>

      <div class="q-pa-md">

        <q-list class="row wrap justify-center items-start content-start">

          <q-item class="col-12 ">
            <q-item-section>
              <q-input
                filled
                v-model="form.name"
                hint="Titulo"
                dense="dense"
              >
                <template v-slot:prepend>
                  <q-icon
                    color="primary"
                    name="calendar_today"
                  />
                </template>
              </q-input>
            </q-item-section>
          </q-item>

          <q-item class="col-12 col-sm-6">
            <q-item-section>
              <q-input
                hint="Hora do inicio"
                filled
                v-model="form.start_time"
                mask="##:##"
                dense="dense"
              >
                <template v-slot:prepend>
                  <q-icon
                    name="access_time"
                    class="cursor-pointer"
                    color="primary"
                  >
                    <q-popup-proxy
                      transition-show="scale"
                      transition-hide="scale"
                    >
                      <q-time
                        v-model="form.start_time"
                        mask="HH:mm"
                        format24h
                      >
                        <div class="row items-center justify-end">
                          <q-btn
                            v-close-popup
                            hint="Close"
                            color="primary"
                            flat
                          />
                        </div>
                      </q-time>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </q-item-section>
          </q-item>

          <q-item class="col-12 col-sm-6">
            <q-item-section>
              <q-input
                hint="Hora do fim"
                filled
                v-model="form.end_time"
                mask="##:##"
                dense="dense"
              >
                <template v-slot:prepend>
                  <q-icon
                    name="access_time"
                    class="cursor-pointer"
                    color="primary"
                  >
                    <q-popup-proxy
                      transition-show="scale"
                      transition-hide="scale"
                    >
                      <q-time
                        v-model="form.end_time"
                        mask="HH:mm"
                        format24h
                      >
                        <div class="row items-center justify-end">
                          <q-btn
                            v-close-popup
                            hint="Close"
                            color="primary"
                            flat
                          />
                        </div>
                      </q-time>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </q-item-section>
          </q-item>

          <q-item class="col-12 col-sm-6">
            <q-item-section>
              <q-input
                filled
                v-model="form.date"
                hint="Data"
                dense="dense"
              >
                <template v-slot:prepend>
                  <q-icon
                    color="primary"
                    name="event"
                  />
                </template>
              </q-input>
            </q-item-section>
          </q-item>

          <q-item class="col-12 col-sm-6">
            <q-item-section>
              <q-input
                type="Number"
                filled
                v-model="form.quantity"
                hint="Quantidade máxima"
                dense="dense"
              >
                <template v-slot:prepend>
                  <q-icon
                    color="primary"
                    name="people"
                  />
                </template>
              </q-input>
            </q-item-section>
          </q-item>

          <q-item class="col-12 col-sm-6">
            <q-item-section>
              <q-input
                filled
                v-model="form.coordinator_id"
                hint="Coordenador"
                dense="dense"
                readonly
              >
                <template v-slot:prepend>
                  <q-icon
                    color="primary"
                    name="supervisor_account"
                  />
                </template>
              </q-input>
            </q-item-section>
          </q-item>

          <q-item class="col-12 col-sm-6">
            <q-item-section>
              <q-input
                filled
                v-model="form.local"
                hint="Local"
                dense="dense"
              >
                <template v-slot:prepend>
                  <q-icon
                    color="primary"
                    name="room"
                  />
                </template>
              </q-input>
            </q-item-section>
          </q-item>

          <q-item class="col-12 col-sm-8">
            <q-item-section>
              <q-select
                filled
                v-model="form.speaker_id"
                bottom-slots
                clearable
                use-input
                hide-selected
                fill-input
                dense="dense"
                :options="options"
                @filter="filterFnAutoselect"
                @filter-abort="abortFilterFn"
              >
                <template v-slot:prepend>
                  <q-icon
                    name="record_voice_over"
                    @click.stop
                    color="primary"
                  />
                </template>
                <template v-slot:hint>
                  Palestrante
                </template>
              </q-select>
            </q-item-section>
          </q-item>

          <q-item class="col-12">
            <q-item-section class="q-mb-lg">
              <q-input
                v-model="form.description"
                hint="Descrição"
                filled
                type="textarea"
              />
            </q-item-section>
          </q-item>
        </q-list>
        <div class="main-card-header row justify-center items-center content-center q-col-gutter-md">
          <div class="bloco-2 col-12 col-sm-12 q-py-sm row justify-center">
            <div class="q-gutter-md">
              <q-btn
                @click="onCancelClick"
                color="negative"
                label="Cancelar"
                outline
              />
              <q-btn
                @click="onOKClick"
                color="primary"
                label="Editar"
              />
            </div>
          </div>
        </div>
      </div>
    </q-card>
  </q-dialog>
</template>

<script>

const stringOptions = [1, 2, 3, 4
].reduce((acc, opt) => {
  for (let i = 1; i <= 5; i++) {
    acc.push(opt + i)
  }
  return acc
}, [])

export default {

  props: {

    index: {
      type: Number,
      required: true
    },

    id: {
      type: Number,
      required: true
    },

    coordinator_id: {
      type: Number,
      required: true
    },

    speaker_id: {
      type: Number,
      required: true
    },

    name: {
      type: String,
      required: true
    },

    description: {
      type: String,
      default: ''
    },

    local: {
      type: String,
      required: true
    },

    date: {
      type: String,
      required: true
    },

    quantity: {
      type: Number,
      required: true
    },

    start_time: {
      type: String,
      required: true
    },

    end_time: {
      type: String,
      required: true
    }
  },

  data () {
    return {
      accept: false,
      model: null,
      options: stringOptions,
      form: {
        index: this.index,
        id: this.id,
        name: this.name,
        start_time: this.start_time,
        end_time: this.end_time,
        description: this.description,
        date: this.date,
        local: this.local,
        speaker_id: this.speaker_id,
        coordinator_id: this.coordinator_id,
        quantity: this.quantity
      }
    }
  },

  methods: {
    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    onOKClick () {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      console.log('EventEdit_ok')
      console.log(this.form.index)
      this.$emit('ok', this.form)
      // console.log(this.form)
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    },
    filterFn (val, update, abort) {
      setTimeout(() => {
        update(
          () => {
            if (val === '') { this.options = stringOptions } else {
              const needle = val.toLowerCase()
              this.options = stringOptions.filter(v => v.toLowerCase().indexOf(needle) > -1)
            }
          },

          // next function is available in Quasar v1.7.4+;
          // "ref" is the Vue reference to the QSelect
          ref => {
            if (val !== '' && ref.options.length > 0) {
              ref.setOptionIndex(-1) // reset optionIndex in case there is something selected
              ref.moveOptionSelection(1, true) // focus the first selectable option and do not update the input-value
            }
          }
        )
      }, 300)
    },

    filterFnAutoselect (val, update, abort) {
      // call abort() at any time if you can't retrieve data somehow

      setTimeout(() => {
        update(
          () => {
            if (val === '') { this.options = stringOptions } else {
              const needle = val.toLowerCase()
              this.options = stringOptions.filter(v => v.toLowerCase().indexOf(needle) > -1)
            }
          },

          // next function is available in Quasar v1.7.4+;
          // "ref" is the Vue reference to the QSelect
          ref => {
            if (val !== '' && ref.options.length > 0 && ref.optionIndex === -1) {
              ref.moveOptionSelection(1, true) // focus the first selectable option and do not update the input-value
              ref.toggleOption(ref.options[ref.optionIndex], true) // toggle the focused option
            }
          }
        )
      }, 300)
    },

    abortFilterFn () {
      // console.log('delayed filter aborted')
    }
  }
}
</script>
