<template>
  <q-page class="flex flex-center">
    <q-card class="main-card q-py-lg row justify-center">
      <div class="main-card-content">
        <div class="main-card-header row justify-center items-center content-center q-col-gutter-md">
          <div class="bloco-1 col-12 col-sm-7 q-my-sm">
            <q-input
              v-model="search"
              debounce="500"
              filled
              placeholder="Pesquisa por Nome do evento"
              hint=""
            >
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </div>
          <div class="bloco-2 col-12 col-sm-5 q-py-sm row justify-center">
            <div class="q-gutter-md">
              <q-btn
                v-if="userRole === '1' || userRole === '2'"
                color="primary"
                label="Criar"
                :to="criacao_evento"
              />
            </div>
          </div>
        </div>
        <q-separator class="separator" />
        <transition
          enter-active-class="animated fadein"
          leave-active-class="animated fadeOut"
          mode="out-in"
          :duration="{ enter: 700, leave: 400 }"
        >
          <div
            key="content"
            v-if="this.EventsCard"
          >
            <transition-group
              class="main-card-body q-my-lg row justify-center items-center content-center q-col-gutter-lg"
              enter-active-class="animated fadein"
              leave-active-class="animated fadeOut"
              mode="out-in"
              :duration="1000"
            >
              <EventCard
                v-for="(event, index) in eventFilteredList"
                :key="event.id"
                v-bind="event"
                @EventDeleted="DeleteEvent"
                @EventEdited="EditEvent"
                @EventSubscriber="EventSub"
                @EventUnsubscriber="EventUnsub"
                @EventPresenceDone="updateEventStatus"
                :index="index"
                ref="EventCardRef"
              />
            </transition-group>
          </div>
          <div
            key="skeleton"
            v-else-if="this.skeleton"
            class="main-card-body q-my-lg row justify-center items-center content-center q-col-gutter-lg"
          >
            <SkeletonEventCard
              v-for="(event, index) in EventCardSkeleton"
              :key="event.id"
              v-bind="event"
              :index="index"
              ref="EventCardRef"
            />
          </div>

          <div
            key="vazio"
            class="row justify-center items-center content-center  non-selectable"
            v-else
          >
            <q-card
              flat
              class="my-card row justify-center items-center content-center  non-selectable"
            >
              <img
                class=" non-selectable"
                src="fox.png"
                style="max-width: 300px;  opacity: 0.4"
              >
              <q-card-section>
                <div class="text-grey-8 text-h6">Oops</div>
                <div class="text-grey-8">Parece um pouco vazio aqui...</div>
              </q-card-section>
            </q-card>
          </div>
        </transition>
      </div>
    </q-card>
  </q-page>
</template>

<script>
import EventCard from 'components/EventCard.vue'
import SkeletonEventCard from 'components/SkeletonEventCard.vue'
import Vue from 'vue'

export default {
  name: 'PageIndex',
  components: { EventCard, SkeletonEventCard },
  data () {
    return {
      search: '',
      skeleton: true,
      ResponseEventsCard: null,
      EventsCard: null,
      userRole: localStorage.getItem('userRole'),
      criacao_evento: `/${localStorage.getItem('userId')}/criacao_evento`,
      EventCardSkeleton: [
        {
          id: 1,
          coordinator_id: 1,
          skeleton: true,
          speaker_id: 1,
          name: 'skeleton',
          description: 'skeleton',
          local: 'skeleton',
          quantity: 1,
          date: 'skeleton',
          start_time: 'skeleton',
          end_time: 'skeleton'
        },
        {
          id: 2,
          coordinator_id: 2,
          skeleton: true,
          speaker_id: 2,
          name: 'skeleton',
          description: 'skeleton',
          local: 'skeleton',
          quantity: 2,
          date: 'skeleton',
          start_time: 'skeleton',
          end_time: 'skeleton'
        },
        {
          id: 3,
          coordinator_id: 3,
          skeleton: true,
          speaker_id: 3,
          name: 'skeleton',
          description: 'skeleton',
          local: 'skeleton',
          quantity: 1,
          date: 'skeleton',
          start_time: 'skeleton',
          end_time: 'skeleton'
        },
        {
          id: 4,
          coordinator_id: 4,
          skeleton: true,
          speaker_id: 4,
          name: 'skeleton',
          description: 'skeleton',
          local: 'skeleton',
          quantity: 1,
          date: 'skeleton',
          start_time: 'skeleton',
          end_time: 'skeleton'
        }
      ]
    }
  },

  props: {
    userid: {
      type: String
    }
  },

  created () {
    this.$axios.get(`${process.env.API}/event`, {
      headers: JSON.parse(localStorage.getItem('acessToken'))
    }).then(response => {
      // conteudo do retorno da API
      var testingLength = response.data.filter(element => element.status)
      if (testingLength.length === 0) {
        // this.EventsCard = []
        this.skeleton = false
      } else {
        this.ResponseEventsCard = response.data
        this.EventsCard = response.data.filter(element => element.status)

        this.$axios.get(`${process.env.API}/event/participant`, {
          headers: JSON.parse(localStorage.getItem('acessToken'))
        }).then(response => {
          // conteudo do retorno da API
          var eventsublist = []
          response.data.forEach(element => eventsublist.push(element.event_id))

          this.checkEventSub(this.EventsCard, eventsublist)
        })
      }
    }).catch(er => {
      if (er.response.status === 401) {
        this.forceLogout(er)
      } else {
        this.TimeoutNotify('negative', 'Oops, aconteceu alguma coisa!', 'Tente novamente.', 'error', 0)
      }
    })
  },

  computed: {
    eventFilteredList () {
      return this.EventsCard.filter(element => {
        return element.name.toLowerCase().includes(this.search.toLowerCase())
      })
    }
  },

  methods: {
    DeleteEvent: function (id, index) {
      this.$axios.delete(`${process.env.API}/event/${id}`, {
        headers: JSON.parse(localStorage.getItem('acessToken'))
      }).then(response => {
        // conteudo do retorno da API
        if (response.status === 200) {
          this.TimeoutNotify('positive', 'Evento deletado com sucesso!', '', 'error', 500)
          console.log(response)
          this.EventsCard.splice(index, 1)
          if (this.EventsCard.length === 0) {
            this.EventsCard = null
            this.skeleton = false
          }
        } else {
          this.TimeoutNotify('negative', 'Não foi possivel deletar o evento', 'verifique sua conexão com a internet', 'error', 3000)
        }
      }).catch(er => {
        if (er.response.status === 401) {
          this.forceLogout(er)
        } else {
          this.TimeoutNotify('negative', 'Oops, aconteceu alguma coisa!', 'Tente novamente.', 'error', 0)
        }
      })
    },

    EditEvent: function (form) {
      // deep copy object
      const aux = JSON.parse(JSON.stringify(form))
      delete aux.index

      this.$axios.put(`${process.env.API}/event/${aux.id}`, aux, {
        headers: JSON.parse(localStorage.getItem('acessToken'))
      }).then(response => {
        // conteudo do retorno da API
        this.TimeoutNotify('positive', 'Evento editado com sucesso!', '', 'done', 500)
        Vue.set(this.EventsCard[form.index], 'speaker_id', form.speaker_id)
        Vue.set(this.EventsCard[form.index], 'name', form.name)
        Vue.set(this.EventsCard[form.index], 'description', form.description)
        Vue.set(this.EventsCard[form.index], 'local_id', form.local_id)
        Vue.set(this.EventsCard[form.index], 'date', form.date)
        Vue.set(this.EventsCard[form.index], 'start_time', form.start_time)
        Vue.set(this.EventsCard[form.index], 'end_time', form.end_time)
      }).catch(er => {
        if (er.response.status === 401) {
          this.forceLogout(er)
        } else {
          this.TimeoutNotify('negative', 'Oops, aconteceu alguma coisa!', 'Tente novamente.', 'error', 0)
        }
      })
    },

    TimeoutNotify (type, message, caption, icon, timeout) {
      setTimeout(() => {
        this.$q.notify({
          type: type,
          progress: true,
          position: 'top',
          message: message,
          caption: caption,
          multiLine: true,
          icon: icon
        })
      }, timeout)
    },

    checkEventSub (eventList, eventSubList) {
      for (let index = 0; index < eventList.length; index++) {
        Vue.set(this.EventsCard[index], 'subchecked', true)
        eventSubList.forEach(id => {
          if (eventList[index].id === id) {
            Vue.set(this.EventsCard[index], 'sub', true)
          }
        })
      }
    },

    EventSub (id, index) {
      Vue.set(this.EventsCard[index], 'subchecked', false)
      this.$axios.post(`${process.env.API}/event/signup/${id}`, {}, {
        headers: JSON.parse(localStorage.getItem('acessToken'))
      }).then(response => {
        // conteudo do retorno da API
        Vue.set(this.EventsCard[index], 'sub', true)
        Vue.set(this.EventsCard[index], 'subchecked', true)
        this.TimeoutNotify('positive', 'Inscrição realizada com sucesso!', '', 'done', 300)
      }).catch(er => {
        if (er.response.status === 401) {
          this.forceLogout(er)
        } else {
          this.TimeoutNotify('negative', 'Ops, aconteceu alguma coisa errada!', 'Tente novamente mais tarde.', 'error', 0)
        }
      })
    },

    EventUnsub (id, index) {
      Vue.set(this.EventsCard[index], 'subchecked', false)
      this.$axios.delete(`${process.env.API}/event/cancel/${id}`, {
        headers: JSON.parse(localStorage.getItem('acessToken'))
      }).then(response => {
        // conteudo do retorno da API
        Vue.set(this.EventsCard[index], 'sub', false)
        Vue.set(this.EventsCard[index], 'subchecked', true)
        this.TimeoutNotify('positive', 'Inscrição cancelada com sucesso!', '', 'done', 500)
      }).catch(er => {
        if (er.response.status === 401) {
          this.forceLogout(er)
        } else {
          this.TimeoutNotify('negative', 'Ops, aconteceu alguma coisa errada!', 'Tente novamente mais tarde.', 'error', 0)
        }
      })
    },

    forceLogout (er) {
      this.TimeoutNotify('negative', 'Sua sessão expirou!', 'Tente logar novamente!', 'error', 200)
      // if the request fails, remove any possible user token
      localStorage.removeItem('acessToken')
      localStorage.removeItem('userId')
      localStorage.removeItem('userRole')
      this.$router.push('/')
    },

    updateEventStatus (index) {
      Vue.set(this.EventsCard[index], 'status', 0)
    }

  }

}
</script>

<style lang="scss" scoped>
.separator {
  margin-top: 20px;

  @media (min-width: $breakpoint-sm-min) {
    margin-top: 0px;
  }
}
.my-card {
  width: 100%;
  max-width: 450px;
}
</style>
