
<template>
  <q-page class="flex flex-center">
    <q-card class="main-card q-py-lg row justify-center items-center content-center">

      <div class="main-card-content">
        <q-form
          @submit="onSubmit"
          @reset="onReset"
          ref="myForm"
        >

          <div class="row wrap justify-center items-start content-center q-col-gutter-md">
            <div class="col-11 q-mt-md">
              <font size="+3">Criação do evento </font>
            </div>
            <q-input
              v-model="form.name"
              label="Nome do evento *"
              hint="Evento do niltinho"
              class="col-12"
              counter
              maxlength="80"
              clearable
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Por favor, digite algo.'
              ]"
            />

            <div class="col-12 col-sm-6 row wrap justify-center items-start content-center ">
              <q-date
                flat
                v-model="form.date"
                :events="bookedDays"
                :options="opcoesDataFilter"
                @input="checkDayBookedHours($event)"
                :event-color="(date) => 1 === 0 ? 'teal' : 'red'"
                mask="DD-MM-YYYY"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Por favor, digite algo.'

                ]"
              />

              <q-chip
                square
                class="q-my-md"
              >
                <q-avatar
                  color="red"
                  text-color="white"
                />
                Eventos no dia
              </q-chip>
            </div>

            <div class="col-12 col-sm-6 row wrap justify-center items-start content-center q-col-gutter-md">

              <q-input
                v-model="form.start_time"
                class="col-12 col-sm-6"
                hint="Hora do inicio"
                mask="##:##"
                filled
                lazy-rules
                :rules="[
                val => val.length !== 4 || 'Por favor, digite a data no formato certo']"
              >
                <template v-slot:append>
                  <q-icon
                    name="access_time"
                    class="cursor-pointer"
                    color="primary"
                  >
                    <q-popup-proxy
                      transition-show="scale"
                      transition-hide="scale"
                    >
                      <q-time
                        v-model="form.start_time"
                        :minute-options="FreeMinutes"
                        :hour-options="FreeHours"
                        mask="HH:mm"
                        format24h
                      >
                        <div class="row items-center justify-end">
                          <q-btn
                            v-close-popup
                            label="Close"
                            color="primary"
                            flat
                          />
                        </div>
                      </q-time>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>

              <q-input
                v-model="form.end_time"
                class="col-12 col-sm-6"
                hint="Hora do fim"
                mask="##:##"
                filled
                lazy-rules
                :rules="[
                val => checkTimeOverlap() || 'Já existem outros eventos neste horario',
                val => form.start_time < form.end_time || 'A hora fim deve ser maior que a hora inicio',
                 val => val.length !== 4 || 'Por favor, digite a data no formato certo'
                ]"
              >
                <template v-slot:append>
                  <q-icon
                    name="access_time"
                    class="cursor-pointer"
                    color="primary"
                  >
                    <q-popup-proxy
                      transition-show="scale"
                      transition-hide="scale"
                    >
                      <q-time
                        v-model="form.end_time"
                        :minute-options="FreeMinutes"
                        :hour-options="FreeHours"
                        mask="HH:mm"
                        format24h
                      >
                        <div class="row items-center justify-end">
                          <q-btn
                            v-close-popup
                            label="Close"
                            color="primary"
                            flat
                          />
                        </div>
                      </q-time>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>

              <q-select
                class="col-12 col-sm-12"
                v-model="speaker"
                :options="speakerOptions"
                @input="speakerUpdate"
                @filter="speakerFilterFnAutoselect"
                @filter-abort="abortFilterFn"
                label="Palestrante *"
                option-label="name"
                option-value="id"
                hint="Dan Dan"
                hide-selected
                fill-input
                clearable
                use-input
                filled
                lazy-rules
                :rules="[ val => !!val || 'Por favor, selecione algo.']"
              >
                <template v-slot:no-option>
                  <q-item>
                    <q-item-section class="text-grey">
                      No results
                    </q-item-section>
                  </q-item>
                </template>
              </q-select>

              <q-select
                class="col-12 col-sm-12"
                @input="localUpdate(), checkBookedDays($event), checkDayBookedHours(form.date)"
                v-model="local"
                :options="localOptions"
                @filter="localFilterFnAutoselect"
                @filter-abort="abortFilterFn"
                label="Local *"
                hint="Teatro UMC"
                option-value="id"
                option-label="name"
                clearable
                use-input
                hide-selected
                fill-input
                filled
                lazy-rules
                :rules="[ val => !!val || 'Por favor, selecione algo.']"
              >
                <template v-slot:no-option>
                  <q-item>
                    <q-item-section class="text-grey">
                      No results
                    </q-item-section>
                  </q-item>
                </template>
              </q-select>

              <q-input
                v-model="capacity"
                class="col-12 col-sm-6"
                label="Quantidade máxima"
                readonly
                flat
              />

              <q-input
                v-model="accessibility"
                label="Acessibilidade"
                class="col-12 col-sm-6"
                readonly
                flat
              />

              <q-input
                v-model="coordinator"
                hint="Coordenador"
                class="col-12 col-sm-8"
                readonly
              />
            </div>

            <q-input
              v-model="form.description"
              class="col-12 col-sm-11"
              label=" Descrição *"
              counter
              maxlength="255"
              type="textarea"
              hint="Evento com o intuito de ......"
              filled
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Por favor, digite algo.']"
            />

          </div>

          <div class="q-pt-lg row justify-center items-center content-center">
            <div>
              <q-btn
                label="Criar"
                type="submit"
                color="primary"
              />
              <q-btn
                label="Limpar"
                type="reset"
                color="primary"
                flat
                class="q-ml-sm"
              />
            </div>
          </div>
        </q-form>
      </div>
    </q-card>
  </q-page>
</template>

<script>
import ConfirmDialog from 'components/ConfirmDialog.vue'

import { date } from 'quasar'

const timeStamp = Date.now()
// const formattedString = date.formatDate(timeStamp, 'YYYY-MM-DDTHH:mm:ss.SSSZ')

const DefaultFreeMinutes = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60]
const DefaultFreeHours = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 0, 21]

export default {
  name: 'PageIndex',
  data () {
    return {
      coordinator: null,
      accept: false,
      currentdate: date.formatDate(timeStamp, 'DD-MM-YYYY'),
      local: null,
      speaker: null,
      accessibility: null,
      capacity: null,
      speakerResponse: [],
      speakerOptions: this.speakerResponse,
      localResponse: [],
      localOptions: this.localResponse,
      eventsBooked: [],
      bookedDays: [],
      FreeMinutes: DefaultFreeMinutes,
      FreeHours: DefaultFreeHours,
      form: {
        name: null,
        start_time: date.formatDate(timeStamp, 'HH:mm'),
        end_time: date.formatDate(timeStamp, 'HH:mm'),
        description: null,
        date: date.formatDate(timeStamp, 'DD-MM-YYYY'),
        local_id: null,
        speaker_id: null,
        coordinator_id: localStorage.getItem('userId')
      },

      // === atributos de controle ===

      resetForm: {
        name: null,
        start_time: date.formatDate(timeStamp, 'HH:mm'),
        end_time: date.formatDate(timeStamp, 'HH:mm'),
        description: null,
        date: date.formatDate(timeStamp, 'DD-MM-YYYY'),
        local_id: null,
        speaker_id: null,
        coordinator_id: localStorage.getItem('userId')
      }
    }
  },

  props: {
    userid: {
      type: String
    }
  },

  created () {
    this.$axios.get(`${process.env.API}/participant/${localStorage.getItem('userId')}`, {
      headers: JSON.parse(localStorage.getItem('acessToken'))
    }).then(response => {
      // conteudo do retorno da API
      this.coordinator = `${response.data.name} ${response.data.surname}`
    }).catch(er => {
      if (er.response.status === 401) {
        this.TimeoutNotify(
          'negative',
          'Não foi possível carregar suas informações, tente novamente mais tarde.',
          'Tente logar novamente.',
          'error',
          0)
        // localStorage.removeItem('acessToken')
        // localStorage.removeItem('userId') // if the request fails, remove any possible user token if possible
        // this.$router.push('/')
      } else {
        this.TimeoutNotify('negative', 'Oops, aconteceu alguma coisa!', 'Tente novamente.', 'error', 0)
      }
    })

    this.$checkUserCredentials(localStorage.getItem('userRole'))
    this.$checkUserToken()

    this.$axios.get(`${process.env.API}/speaker`, {
      headers: JSON.parse(localStorage.getItem('acessToken'))
    }).then(response => {
      // conteudo do retorno da API
      this.speakerResponse = response.data
    }).catch(er => {
      if (er.response.status === 401) {
        this.TimeoutNotify('negative', 'Sua sessão expirou!', 'Tente logar novamente!', 'error', 0)
        localStorage.removeItem('acessToken')
        localStorage.removeItem('userId') // if the request fails, remove any possible user token if possible
        this.$router.push('/')
      } else {
        this.TimeoutNotify('negative', 'Não foi possivel deletar o evento', 'verifique sua conexão com a internet', 'error', 3000)
      }
    })

    this.localOcupied()

    this.$axios.get(`${process.env.API}/local`, {
      headers: JSON.parse(localStorage.getItem('acessToken'))
    }).then(response => {
      // conteudo do retorno da API
      this.localResponse = response.data
    }).catch(er => {
      if (er.response.status === 401) {
        this.TimeoutNotify('negative', 'Sua sessão expirou!', 'Tente logar novamente!', 'error', 0)
        localStorage.removeItem('acessToken')
        localStorage.removeItem('userId') // if the request fails, remove any possible user token if possible
        this.$router.push('/')
      } else {
        this.TimeoutNotify('negative', 'Não foi possivel deletar o evento', 'verifique sua conexão com a internet', 'error', 3000)
      }
    })
  },

  methods: {
    TimeoutNotify (type, message, caption, icon, timeout) {
      setTimeout(() => {
        this.$q.notify({
          type: type,
          progress: true,
          position: 'top',
          message: message,
          caption: caption,
          multiLine: true,
          icon: icon
        })
      }, timeout)
    },

    opcoesDataFilter (data) {
      return data >= date.formatDate(timeStamp, 'YYYY/MM/DD')
    },
    onSubmit () {
      this.$axios.post(`${process.env.API}/event`, this.form, {
        headers: JSON.parse(localStorage.getItem('acessToken'))
      }).then(response => {
        // conteudo do retorno da API

        this.ConfirmDialog()
        this.localOcupied()
      }).catch(er => {
        if (er.response.status === 401) {
          localStorage.removeItem('acessToken')
          localStorage.removeItem('userId') // if the request fails, remove any possible user token if possible
          this.$router.push('/')
        } else {
          this.showNotifs('negative', 'Não foi possivel criar seu evento', 'verifique sua conexão com a internet', 'error', 3000)
        }
      })
    },

    onReset () {
      this.form = this.resetForm
      this.FreeMinutes = DefaultFreeMinutes
      this.FreeHours = DefaultFreeHours
      this.speaker = null
      this.local = null
      this.capacity = null
      this.accessibility = null
      this.bookedDays = []
      this.$refs.myForm.resetValidation()
    },

    showNotifs (type, message, caption, icon, timeout) {
      setTimeout(() => {
        this.$q.notify({
          type: type,
          progress: true,
          position: 'top',
          message: message,
          caption: caption,
          multiLine: true,
          icon: icon
        })
      }, timeout)
    },

    ConfirmDialog () {
      this.$q
        .dialog({
          component: ConfirmDialog,
          // optional if you want to have access to
          // Router, Vuex store, and so on, in your
          // custom component:
          parent: this, // becomes child of this Vue node
          // ("this" points to your Vue component)
          // (prop was called "root" in < 1.1.0 and
          // still works, but recommending to switch
          // to the more appropriate "parent" name)

          // props forwarded to component
          // (everything except "component" and "parent" props above):
          title: 'Evento criado com sucesso',
          title_class: 'text-positive',
          sub_title: 'O evento ' + this.form.name + ' foi criado com sucesso',
          body: '',
          body_class: 'text-h6',
          left_button: '',
          left_button_color: '',
          rigth_button: 'Ok',
          rigth_button_color: 'positive'
          // ...more.props...
        })
        .onOk(() => {
          this.onReset()
          this.$emit('EventDeleted', this.id, this.index)
        })
        .onCancel(() => {

        })
        .onDismiss(() => {

        })
    },

    speakerFilterFnAutoselect (val, update, abort) {
      // call abort() at any time if you can't retrieve data somehow

      setTimeout(() => {
        update(
          () => {
            if (val === '') {
              this.speakerOptions = this.speakerResponse
            } else {
              const needle = val.toLowerCase()
              this.speakerOptions = this.speakerResponse.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
            }
          },

          // next function is available in Quasar v1.7.4+;
          // "ref" is the Vue reference to the QSelect
          ref => {
            if (val !== '' && ref.options.length > 0 && ref.optionIndex === -1) {
              ref.moveOptionSelection(1, true) // focus the first selectable option and do not update the input-value
              ref.toggleOption(ref.options[ref.optionIndex], true) // toggle the focused option
            }
          }
        )
      }, 300)
    },

    checkBookedDays (localId) {
      var DayFound = false

      if (localId !== null) {
        for (let index = 0; index < this.eventsBooked.length; index++) {
          if (this.eventsBooked[index].local_id === localId.id) {
            var days = this.eventsBooked[index].days
            var dayList = []
            for (const [key] of Object.entries(days)) {
              //
              var dayRaw = date.extractDate(key, 'DD-MM-YYYY')
              var dayFormated = date.formatDate(dayRaw, 'YYYY/MM/DD')

              dayList.push(dayFormated)
            }
            this.bookedDays = dayList
            DayFound = true

            break
          }
        }
        if (DayFound === false) {
          this.bookedDays = []
        }
      } else {
        this.bookedDays = []
      }
    },

    checkDayBookedHours (day) {
      this.FreeHours = DefaultFreeHours
      if (this.local !== null && day !== null) {
        var timeFound = false
        for (let index = 0; index < this.eventsBooked.length; index++) {
          if (this.eventsBooked[index].local_id === this.local.id) {
            var days = this.eventsBooked[index].days

            for (const [key, value] of Object.entries(days)) {
              if (key === day) {
                var hours = value
                var difference = this.FreeHours.filter(x => !hours.includes(x))

                var currentStartHour = Number(this.form.start_time.split(':')[0])
                var currentEndHour = Number(this.form.end_time.split(':')[0])

                //
                if (difference.length !== 0) {
                  if (hours.includes(currentStartHour)) {
                    var aux = String(difference[0])
                    if (aux.length > 1) {
                      this.form.start_time = aux + ':00'
                    } else {
                      this.form.start_time = '0' + aux + ':00'
                    }
                    this.showNotifs('negative', 'Já existe um evento neste horario', 'Por favor escolha outra hora.', 'error', 0)
                  }

                  if (hours.includes(currentEndHour)) {
                    aux = String(difference[0])
                    if (aux.length > 1) {
                      this.form.end_time = aux + ':00'
                    } else {
                      this.form.end_time = '0' + aux + ':00'
                    }
                    this.showNotifs('negative', 'Já existe um evento neste horario', 'Por favor escolha outra hora.', 'error', 0)
                  }
                }

                this.FreeHours = difference

                timeFound = true
                break
              }
            }
          }
        }
        if (timeFound === false) {
          this.FreeHours = DefaultFreeHours
        }
      } else {
        this.FreeHours = DefaultFreeHours
      }
    },

    localFilterFnAutoselect (val, update, abort) {
      // call abort() at any time if you can't retrieve data somehow

      setTimeout(() => {
        update(
          () => {
            if (val === '') {
              this.localOptions = this.localResponse
            } else {
              const needle = val.toLowerCase()
              this.localOptions = this.localResponse.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
            }
          },

          // next function is available in Quasar v1.7.4+;
          // "ref" is the Vue reference to the QSelect
          ref => {
            if (val !== '' && ref.options.length > 0 && ref.optionIndex === -1) {
              ref.moveOptionSelection(1, true) // focus the first selectable option and do not update the input-value
              ref.toggleOption(ref.options[ref.optionIndex], true) // toggle the focused option
            }
          }
        )
      }, 300)
    },

    abortFilterFn () {
      //
    },

    speakerUpdate () {
      if (this.speaker === null) {
        this.form.speaker_id = null
      } else {
        this.form.speaker_id = this.speaker.id
      }
    },

    localUpdate () {
      if (this.local === null) {
        this.accessibility = null
        this.capacity = null
      } else {
        this.accessibility = this.local.accessibility
        this.capacity = this.local.capacity
        this.form.local_id = this.local.id
      }
    },

    GetCurrentDate () {
      var today = new Date()
      var dd = String(today.getDate()).padStart(2, '0')
      var mm = String(today.getMonth() + 1).padStart(2, '0') // January is 0!
      var yyyy = today.getFullYear()

      today = dd + '-' + mm + '-' + yyyy
      return today
    },

    checkTimeOverlap () {
      var currentStartHour = Number(this.form.start_time.split(':')[0])
      var currentEndHour = Number(this.form.end_time.split(':')[0])

      for (let i = currentStartHour; i < currentEndHour + 1; i++) {
        if (!this.FreeHours.includes(i)) {
          return false
        }
      }
      return true
    },

    localOcupied () {
      this.$axios.get(`${process.env.API}/local/occupied`, {
        headers: JSON.parse(localStorage.getItem('acessToken'))
      }).then(response => {
        // conteudo do retorno da API
        this.eventsBooked = response.data
      }).catch(er => {
        if (er.response.status === 401) {
          this.TimeoutNotify('negative', 'Sua sessão expirou!', 'Tente logar novamente!', 'error', 0)
          localStorage.removeItem('acessToken')
          localStorage.removeItem('userId') // if the request fails, remove any possible user token if possible
          this.$router.push('/')
        } else {
          this.TimeoutNotify('negative', 'Não foi possivel deletar o evento', 'verifique sua conexão com a internet', 'error', 3000)
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.card {
  @media (min-width: $breakpoint-md-min) {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 800px;
  }

  .card-content {
    width: 80%;
    // background-color: red;
  }
}
</style>
