<template>
  <q-page class="flex flex-center">
    <q-card class="main-card q-py-lg row justify-center">
      <div class="main-card-content">
        <div class="main-card-header row justify-center items-center content-center q-col-gutter-md">
          <div class="bloco-1 col-12 col-sm-7 q-my-sm">
            <q-input
              v-model="search"
              debounce="500"
              filled
              placeholder="Pesquisa por Email"
              hint=""
            >
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </div>
          <div class="bloco-2 col-12 col-sm-5 q-py-sm row justify-center">
            <div class="q-gutter-md">
              <q-btn
                color="primary"
                label="Criar"
                :to="criacao_local"
              />
              <q-btn
                color="negative"
                label="Excluir"
                @click="deleteUsers()"
              />
            </div>
          </div>
        </div>
        <q-separator />
        <transition
          enter-active-class="animated fadein"
          leave-active-class="animated fadeOut"
          mode="out-in"
          :duration="{ enter: 700, leave: 400 }"
        >
          <div
            class="q-my-md"
            key="content"
            v-if="this.Location"
          >
            <q-list>
              <transition-group
                class="q-my-md row justify-center items-center content-center q-col-gutter-md"
                enter-active-class="animated fadein"
                leave-active-class="animated fadeOut"
                mode="out-in"
                :duration="{ enter: 500, leave: 200 }"
              >
                <LocationCard
                  v-for="(location, index) in filteredList"
                  :key="location.id"
                  v-bind="location"
                  :index="index"
                  @addUser="addUser"
                  @delUser="delUser"
                />
              </transition-group>
            </q-list>
          </div>
          <div
            key="skeleton"
            v-else-if="this.SkeletonUsers"
          >
            <q-list class="q-my-md row justify-center items-center content-center q-col-gutter-md">
              <SkeletonUserCard
                v-for="(user, index) in SkeletonUsers"
                :key="user.id"
                v-bind="user"
                :index="index"
              />
            </q-list>
          </div>

          <div
            key="vazio"
            class="row justify-center items-center content-center"
            v-else
          >
            <q-card
              flat
              class="my-card row justify-center items-center content-center"
            >
              <img
                src="fox.png"
                style="max-width: 300px;  opacity: 0.4"
              >

              <q-card-section>
                <div class="text-grey-8 text-h6">Oops</div>
                <div class="text-grey-8">Parece que nenhum evento foi criado ainda</div>
              </q-card-section>

            </q-card>
          </div>
        </transition>
      </div>
    </q-card>
  </q-page>
</template>

<script>
import LocationCard from 'components/LocationCard.vue'
import SkeletonUserCard from 'components/SkeletonUserCard.vue'
// import Vue from 'vue'

export default {
  components: { LocationCard, SkeletonUserCard },
  data () {
    return {
      delUserList: [],
      search: '',
      Location: null,
      criacao_local: `/${localStorage.getItem('userId')}/criacao_local`,
      SkeletonUsers: [{
        id: 1
      }, {
        id: 2
      }, {
        id: 3
      }, {
        id: 4
      }, {
        id: 5
      }, {
        id: 6
      }, {
        id: 7
      }, {
        id: 8
      }, {
        id: 9
      }, {
        id: 10
      }]
    }
  },

  created () {
    // Mocar dado com atraso

    // setTimeout(() => {
    //   this.Users = newUsers
    // }, 1000)

    this.$checkUserCredentials(localStorage.getItem('userRole'))
    this.$checkUserToken()

    this.$axios.get(`${process.env.API}/local`, {
      headers: JSON.parse(localStorage.getItem('acessToken'))
    }).then(response => {
      // conteudo do retorno da API
      if (response.data.length === 0) {
        // this.EventsCard = []
        this.skeleton = false
      } else {
        this.Location = response.data
      }
    }).catch(er => {
      this.showNotifs('negative', 'Não foi possivel carregar a página', 'tente logar novamente', 'error', 2000)
      this.$router.push('/')
    })

    // this.$axios.get(`${process.env.API}/event`).then(response => {
    //   if (response.status === 200) {
    //     this.EventsCard = response.data
    //
    //   } else {
    //     this.showNotifs('negative', 'Não foi possivel carregar a página', 'verifique sua conexão com a internet', 'error', 3000)
    //   }
    // })
  },

  methods: {
    // EditUser: function (userEditData) {
    //

    //   // deep copy object
    //   const aux = JSON.parse(JSON.stringify(userEditData))
    //   delete aux.index
    //   delete aux.id
    //   delete aux.password

    //

    //   this.$axios.put(`${process.env.API}/participant/${userEditData.id}`, aux, {
    //     headers: this.$headers
    //   }).then(response => {
    //     // conteudo do retorno da API
    //     this.TimeoutNotify('positive', 'Evento editado com sucesso!', '', 'error', 500)
    //     Vue.set(this.Users[userEditData.index], 'birth_date', userEditData.birth_date)
    //     Vue.set(this.Users[userEditData.index], 'number', userEditData.number)
    //     Vue.set(this.Users[userEditData.index], 'name', userEditData.name)
    //     Vue.set(this.Users[userEditData.index], 'surname', userEditData.surname)
    //     Vue.set(this.Users[userEditData.index], 'date', userEditData.date)
    //     Vue.set(this.Users[userEditData.index], 'sex', userEditData.sex)
    //     Vue.set(this.Users[userEditData.index], 'course', userEditData.course)
    //     Vue.set(this.Users[userEditData.index], 'cpf', userEditData.cpf)
    //     Vue.set(this.Users[userEditData.index], 'phone', userEditData.phone)
    //     Vue.set(this.Users[userEditData.index], 'cellphone', userEditData.cellphone)
    //     Vue.set(this.Users[userEditData.index], 'email', userEditData.email)
    //     Vue.set(this.Users[userEditData.index], 'description', userEditData.description)
    //     Vue.set(this.Users[userEditData.index], 'accessibility', userEditData.accessibility)
    //     Vue.set(this.Users[userEditData.index], 'street', userEditData.street)
    //     Vue.set(this.Users[userEditData.index], 'neighborhood', userEditData.neighborhood)
    //     Vue.set(this.Users[userEditData.index], 'cep', userEditData.cep)
    //     Vue.set(this.Users[userEditData.index], 'city', userEditData.city)
    //     Vue.set(this.Users[userEditData.index], 'state', userEditData.state)
    //
    //   }).catch(er => {
    //     if (er.response.status === 401) {
    //       this.TimeoutNotify('negative', 'Sua sessão expirou!', 'Tente logar novamente!', 'error', 0)
    //       localStorage.removeItem('acessToken')
    //       localStorage.removeItem('userId') // if the request fails, remove any possible user token if possible
    //       this.$router.push('/')
    //     } else {
    //       this.TimeoutNotify('negative', 'Não foi possivel deletar o evento', 'verifique sua conexão com a internet', 'error', 3000)
    //     }
    //   })
    // }

    addUser (id) {
      this.delUserList.push(id)
    },

    delUser (id) {
      this.delUserList.splice(this.delUserList.indexOf(id), 1)
    },
    deleteUsers () {
      this.delUserList.forEach(element => {
        this.$axios.delete(`${process.env.API}/local/${element}`, {
          headers: JSON.parse(localStorage.getItem('acessToken'))
        }).then(response => {
          this.TimeoutNotify('positive', 'Administrador deletado com sucesso.', '', 'done', 0)
        }).catch(er => {
          if (er.response.status === 401) {
            console.log('error 401 => ', er.response)
          } else {
            this.TimeoutNotify('negative', 'Oops, não foi possível deletar alguns administradores.', 'Tente novamente.', 'error', 0)
          }
        })
      })
      this.Location = this.Location.filter(element => !this.delUserList.includes(element.id))
      this.delUserList = []
    },
    TimeoutNotify (type, message, caption, icon, timeout) {
      setTimeout(() => {
        this.$q.notify({
          type: type,
          progress: true,
          position: 'top',
          message: message,
          caption: caption,
          multiLine: true,
          icon: icon
        })
      }, timeout)
    }
  },
  computed: {
    filteredList () {
      return this.Location.filter(element => {
        return element.name.toLowerCase().includes(this.search.toLowerCase())
      })
    }
  }
}

</script>
