<template>
  <q-page class="flex flex-center">
    <q-card
      class="login-card q-py-lg row justify-center items-center content-center"
      style=""
    >
      <div
        class="login-card-content"
        style=""
      >
        <div class="q-pb-lg text-h5">Redefinir senha</div>
        <q-form
          @submit="onSubmit"
          @reset="onReset"
          class="q-gutter-md"
        >
          <q-input
            filled
            v-model="email"
            label="Email *"
            hint="john.smith@gmail.com"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Por favor, digite seu email.']"
          />

          <q-input
            filled
            v-model="cpf"
            label="CPF *"
            mask="###.###.###-##"
            fill-mask="#"
            hint="823.524.324-53"
            class="col-12 col-sm-6"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Por favor, digite seu CPF']"
          />

          <div
            class="row justify-center items-center content-center q-py-lg"
            style=""
          >
            <div>
              <q-btn
                label="Redefinir"
                type="submit"
                color="primary"
              />
              <q-btn
                label="Cancelar"
                type="reset"
                color="primary"
                flat
                class="q-ml-sm"
                to="/"
              />
            </div>
          </div>
        </q-form>
      </div>
    </q-card>
  </q-page>
</template>

<script>

import notify from 'src/boot/notify'
export default {
  name: 'PageIndex',
  data () {
    return {
      email: null,
      cpf: null
    }
  },

  methods: {
    onSubmit () {
      notify('Senha redefinida com sucesso!', 'negative', 'check', 'bottom')
      this.$router.push('/')
    },

    onReset () {
      this.email = null
      this.cpf = null
    }

  }
}
</script>

<style lang="scss" scoped>
.card {
  width: 400px;

  .card-content {
    width: 80%;
    // background-color: red;
  }
}
</style>
