<template>
  <q-page class="flex flex-center">
    <q-card class="main-card q-py-lg row justify-center">
      <div class="main-card-content">
        <div class="main-card-header row justify-center items-center content-center q-col-gutter-md">
          <div class="bloco-1 col-12 col-sm-7 q-my-sm">
            <q-input
              v-model="search"
              debounce="500"
              filled
              placeholder="Pesquisa por Email"
              hint=""
            >
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </div>
          <div class="bloco-2 col-12 col-sm-5 q-py-sm row justify-center">
            <div class="q-gutter-md">
              <q-btn
                color="primary"
                label="Criar"
                :to="cadastro_palestrante"
              />
              <q-btn
                color="negative"
                label="Excluir"
              />
            </div>
          </div>
        </div>
        <q-separator />
        <transition
          enter-active-class="animated fadein"
          leave-active-class="animated fadeOut"
          mode="out-in"
          :duration="{ enter: 700, leave: 400 }"
        >
          <div
            class="q-my-md"
            key="content"
            v-if="this.Users"
          >
            <q-list>
              <transition-group
                class="q-my-md row justify-center items-center content-center q-col-gutter-md"
                enter-active-class="animated fadein"
                leave-active-class="animated fadeOut"
                mode="out-in"
                :duration="{ enter: 500, leave: 200 }"
              >
                <UserCard
                  v-for="(user, index) in filteredList"
                  :key="user.id"
                  v-bind="user"
                  :index="index"
                  @addUser="addUser"
                  @delUser="delUser"
                />
              </transition-group>
            </q-list>
          </div>
          <div
            key="skeleton"
            v-else-if="this.SkeletonUsers"
          >
            <q-list class="q-my-md row justify-center items-center content-center q-col-gutter-md">
              <SkeletonUserCard
                v-for="(user, index) in SkeletonUsers"
                :key="user.id"
                v-bind="user"
                :index="index"
              />
            </q-list>
          </div>

          <div
            key="vazio"
            class="row justify-center items-center content-center"
            v-else
          >
            <q-card
              flat
              class="my-card row justify-center items-center content-center"
            >
              <img
                src="fox.png"
                style="max-width: 300px;  opacity: 0.4"
              >

              <q-card-section>
                <div class="text-grey-8 text-h6">Oops</div>
                <div class="text-grey-8">Parece que nenhum evento foi criado ainda</div>
              </q-card-section>

            </q-card>
          </div>
        </transition>
      </div>
    </q-card>
  </q-page>
</template>

<script>
import UserCard from 'components/UserCard.vue'
import SkeletonUserCard from 'components/SkeletonUserCard.vue'
// import Vue from 'vue'

export default {
  components: { UserCard, SkeletonUserCard },
  data () {
    return {
      delUserList: [],
      search: '',
      Users: null,
      cadastro_palestrante: `/${localStorage.getItem('userId')}/cadastro_palestrante`,
      SkeletonUsers: [{
        id: 1
      }, {
        id: 2
      }, {
        id: 3
      }, {
        id: 4
      }, {
        id: 5
      }, {
        id: 6
      }, {
        id: 7
      }, {
        id: 8
      }, {
        id: 9
      }, {
        id: 10
      }]
    }
  },

  created () {
    this.$checkUserCredentials(localStorage.getItem('userRole'))
    this.$checkUserToken()

    this.$axios.get(`${process.env.API}/speaker`, {
      headers: JSON.parse(localStorage.getItem('acessToken'))
    }).then(response => {
      // conteudo do retorno da API
      if (response.data.length === 0) {
        // this.EventsCard = []
        this.skeleton = false
      } else {
        this.Users = response.data
      }
    }).catch(er => {
      this.showNotifs('negative', 'Não foi possivel carregar a página', 'tente logar novamente', 'error', 2000)
      this.$router.push('/')
    })
  },

  methods: {
    addUser (id) {
      this.delUserList.push(id)
    },

    delUser (id) {
      this.delUserList.splice(this.delUserList.indexOf(id), 1)
    },
    deleteUsers () {
      this.delUserList.forEach(element => {
        this.$axios.delete(`${process.env.API}/user/${element}`, {
          headers: JSON.parse(localStorage.getItem('acessToken'))
        }).then(response => {
          this.TimeoutNotify('positive', 'Administrador deletado com sucesso.', '', 'done', 0)
        }).catch(er => {
          if (er.response.status === 401) {
            console.log('error 401 => ', er.response)
          } else {
            this.TimeoutNotify('negative', 'Oops, não foi possível deletar alguns administradores.', 'Tente novamente.', 'error', 0)
          }
        })
      })
      this.Users = this.Users.filter(element => !this.delUserList.includes(element.id))
      this.delUserList = []
      // console.log(this.Users)
      // this.Users = this.Users.filter(element => !this.delUserList.includes(element.id))
      // this.delUserList = []
    },
    TimeoutNotify (type, message, caption, icon, timeout) {
      setTimeout(() => {
        this.$q.notify({
          type: type,
          progress: true,
          position: 'top',
          message: message,
          caption: caption,
          multiLine: true,
          icon: icon
        })
      }, timeout)
    }
  },
  computed: {
    filteredList () {
      return this.Users.filter(element => {
        return element.email.toLowerCase().includes(this.search.toLowerCase()) ||
          element.surname.toLowerCase().includes(this.search.toLowerCase())
      })
    }
  }
}

</script>
