<template>
  <q-dialog
    ref="dialog"
    @hide="onDialogHide"
    v-model="fixed"
  >
    <q-card class="dialog_card_size">
      <q-bar class="bg-primary text-white rounded-borders">
        <div class="non-selectable">
          Sua opnião
        </div>
        <q-space />
        <q-btn
          @click="onCancelClick"
          dense
          flat
          icon="close"
        />
      </q-bar>

      <q-separator />

      <q-card-section
        style="max-height: 50vh"
        class="scroll"
      >
        <div>
          <q-list class="q-my-xl row wrap justify-center items-center content-center">
            <q-item>
              <div class="text-h5">Gostou do evento?</div>
            </q-item>
            <q-item>
              <q-rating
                v-model="ratingModel"
                @input="input(ratingModel)"
                size="3.5em"
                color="primary"
                icon="star_border"
                icon-selected="star"
              />
            </q-item>
          </q-list>
        </div>

      </q-card-section>

      <q-separator />

      <q-card-actions align="left">
        <q-btn
          flat
          icon="more_vert"
          padding="xs"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {

  data () {
    return {
      fixed: false,
      basic: false,
      ratingModel: 3
    }
  },

  props: {

    id: {
      type: Number,
      required: false
    },

    rating: {
      type: Number,
      required: false
    },

    eventId: {
      type: Number,
      required: false
    },

    description: {
      type: String,
      default: ''
    }
  },

  methods: {
    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    onOKClick () {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok')
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    },

    input (teste) {
      console.log(teste)
    }
  }
}
</script>
