<template>
  <q-dialog
    ref="dialog"
    @hide="onDialogHide"
  >
    <q-card class="dialog_card_size">
      <q-bar class="bg-primary text-white rounded-borders">
        <div class="non-selectable">
          Detalhes do evento
        </div>
        <q-space />
        <q-btn
          @click="onCancelClick"
          dense
          flat
          icon="close"
        />
      </q-bar>

      <q-separator />

      <q-card-section
        style="max-height: 50vh"
        class="scroll"
      >
        <q-form
          @submit="onSubmit"
          ref="myForm"
        >
          <div>

            <q-list class="row wrap justify-center items-start content-start">

              <q-item class="col-12 ">
                <q-item-section>
                  <q-input
                    filled
                    counter
                    maxlength="80"
                    v-model="form.name"
                    hint="Titulo"
                    dense="dense"
                    lazy-rules
                    :rules="[ val => !!val || 'Por favor, digite algo.']"
                  >
                    <template v-slot:prepend>
                      <q-icon
                        color="primary"
                        name="calendar_today"
                      />
                    </template>
                  </q-input>
                </q-item-section>
              </q-item>

              <q-item class="col-12 col-sm-6">
                <q-item-section>
                  <q-input
                    hint="Hora do inicio"
                    dense
                    filled
                    v-model="form.start_time"
                    mask="##:##"
                    lazy-rules
                    :rules="[val => val.length !== 4 || 'Por favor, digite a hora no formato certo.'
                ]"
                  >
                    <template v-slot:prepend>
                      <q-icon
                        name="access_time"
                        class="cursor-pointer"
                        color="primary"
                      >
                        <q-popup-proxy
                          transition-show="scale"
                          transition-hide="scale"
                        >
                          <q-time
                            v-model="form.start_time"
                            :minute-options="FreeMinutes"
                            :hour-options="FreeHours"
                            mask="HH:mm"
                            format24h
                          >
                            <div class="row items-center justify-end">
                              <q-btn
                                v-close-popup
                                hint="Close"
                                color="primary"
                                flat
                              />
                            </div>
                          </q-time>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </q-item-section>
              </q-item>

              <q-item class="col-12 col-sm-6">
                <q-item-section>
                  <q-input
                    v-model="form.end_time"
                    hint="Hora do fim"
                    dense
                    filled
                    mask="##:##"
                    lazy-rules
                    :rules="[
                val => checkTimeOverlap() || 'Já existem outros eventos neste horario',
                val => form.start_time < form.end_time || 'A hora fim deve ser maior que a hora inicio'
                ,
                val => val.length !== 4 || 'Por favor, digite a hora no formato certo.'
                ]"
                  >
                    <template v-slot:prepend>
                      <q-icon
                        name="access_time"
                        class="cursor-pointer"
                        color="primary"
                      >
                        <q-popup-proxy
                          transition-show="scale"
                          transition-hide="scale"
                        >
                          <q-time
                            v-model="form.end_time"
                            :minute-options="FreeMinutes"
                            :hour-options="FreeHours"
                            mask="HH:mm"
                            format24h
                          >
                            <div class="row items-center justify-end">
                              <q-btn
                                v-close-popup
                                label="Close"
                                color="primary"
                                flat
                              />
                            </div>
                          </q-time>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </q-item-section>
              </q-item>

              <q-item class="col-12 col-sm-6">
                <q-item-section>
                  <q-input
                    filled
                    v-model="form.date"
                    readonly
                    hint="Data"
                    dense="dense"
                    lazy-rules
                    :rules="[
                    val => val.length !== 8 || 'Por favor, digite a data no formato certo']"
                  >
                    <template v-slot:prepend>
                      <q-icon
                        name="event"
                        class="cursor-pointer"
                        color="primary"
                      >
                        <q-popup-proxy
                          transition-show="scale"
                          transition-hide="scale"
                        >
                          <q-date
                            flat
                            v-model="form.date"
                            :events="bookedDays"
                            :options="opcoesDataFilter"
                            @input="checkDayBookedHours($event)"
                            :event-color="(date) => 1 === 0 ? 'teal' : 'red'"
                            mask="DD-MM-YYYY"
                            lazy-rules
                            :rules="[ val => val && val.length > 0 || 'Por favor, digite algo.']"
                          >
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </q-item-section>
              </q-item>

              <q-item class="col-12 col-sm-6">
                <q-item-section>
                  <q-input
                    flat
                    v-model="eventEditData.coordinator.name"
                    hint="Coordenador"
                    dense="dense"
                    readonly
                  >
                    <template v-slot:prepend>
                      <q-icon
                        color="primary"
                        name="supervisor_account"
                      />
                    </template>
                  </q-input>
                </q-item-section>
              </q-item>

              <q-item class="col-12 col-sm-6">
                <q-item-section>
                  <q-input
                    type="Number"
                    readonly
                    flat
                    v-model="eventEditData.local.capacity"
                    hint="Quantidade máxima"
                    dense="dense"
                  >
                    <template v-slot:prepend>
                      <q-icon
                        color="primary"
                        name="people"
                      />
                    </template>
                  </q-input>
                </q-item-section>
              </q-item>

              <q-item class="col-12 col-sm-6">
                <q-item-section>
                  <q-input
                    type="String"
                    readonly
                    flat
                    v-model="eventEditData.local.accessibility"
                    hint="Acessibilidade"
                    dense="dense"
                  >
                    <template v-slot:prepend>
                      <q-icon
                        color="primary"
                        name="people"
                      />
                    </template>
                  </q-input>
                </q-item-section>
              </q-item>

              <q-select
                class="col-12 col-sm-6 q-ma-md"
                filled
                v-model="eventEditData.local"
                use-input
                hide-selected
                fill-input
                dense
                @input="localUpdate(), checkBookedDays($event), checkDayBookedHours(form.date)"
                options-dense
                style="width:182px"
                :options="localOptions"
                label="Local *"
                hint="Teatro UMC"
                option-value="id"
                option-label="name"
                @filter="localFilterFnAutoselect"
                @filter-abort="abortFilterFn"
                lazy-rules
                :rules="[ val => !!val || 'Por favor, selecione algo.']"
              >
                <template v-slot:prepend>
                  <q-icon
                    name="place"
                    color="primary"
                  />
                </template>
                <template v-slot:no-option>
                  <q-item>
                    <q-item-section class="text-grey">
                      No results
                    </q-item-section>
                  </q-item>
                </template>
              </q-select>

              <q-select
                class="col-12 col-sm-6 q-ma-md"
                filled
                v-model="eventEditData.speaker"
                use-input
                hide-selected
                fill-input
                dense
                options-dense
                style="width:182px"
                label="Palestrante *"
                hint="Dan Dan"
                :options="speakerOptions"
                option-value="id"
                option-label="name"
                @input="speakerUpdate"
                @filter="speakerFilterFnAutoselect"
                @filter-abort="abortFilterFn"
                lazy-rules
                :rules="[ val => !!val || 'Por favor, selecione algo.']"
              >
                <template v-slot:prepend>
                  <q-icon
                    name="place"
                    color="primary"
                  />
                </template>
                <template v-slot:no-option>
                  <q-item>
                    <q-item-section class="text-grey">
                      No results
                    </q-item-section>
                  </q-item>
                </template>
              </q-select>

              <q-item class="col-12">
                <q-item-section class="q-mb-lg">
                  <q-input
                    v-model="form.description"
                    hint="Descrição"
                    counter
                    maxlength="255"
                    filled
                    type="textarea"
                  />
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </q-form>
      </q-card-section>

      <q-separator />

      <q-card-actions align="right">
        <q-btn
          flat
          label="Cancelar"
          color="negative"
          @click="onCancelClick"
        />
        <q-btn
          flat
          label="Editar"
          color="primary"
          type="submit"
          @click="onSubmit"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { date } from 'quasar'

const timeStamp = Date.now()

const DefaultFreeMinutes = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60]
const DefaultFreeHours = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 0, 21]

export default {

  props: {

    index: {
      type: Number,
      required: true
    },

    id: {
      type: Number,
      required: true
    },

    coordinator: {
      type: Object,
      required: true
    },

    speaker: {
      type: Object,
      required: true
    },

    name: {
      type: String,
      required: true
    },

    description: {
      type: String,
      default: ''
    },

    local: {
      type: Object,
      required: true
    },

    date: {
      type: String,
      required: true
    },

    start_time: {
      type: String,
      required: true
    },

    end_time: {
      type: String,
      required: true
    }
  },

  data () {
    return {
      eventEditData: {
        id: this.id,
        coordinator: this.coordinator,
        speaker: this.speaker,
        name: this.name,
        description: this.description,
        local: this.local,
        date: this.date,
        start_time: this.start_time,
        end_time: this.end_time
      },
      speakerResponse: [],
      speakerOptions: this.speakerResponse,
      localResponse: [],
      localOptions: this.localResponse,
      eventsBooked: [],
      bookedDays: [],
      FreeMinutes: DefaultFreeMinutes,
      FreeHours: DefaultFreeHours,
      form: {
        index: this.index,
        id: this.id,
        name: this.name,
        start_time: this.start_time,
        end_time: this.end_time,
        description: this.description,
        date: this.date,
        local_id: this.local.id,
        speaker_id: this.speaker.id,
        coordinator_id: this.coordinator.id
      }
    }
  },

  created () {
    this.$axios.get(`${process.env.API}/local/occupied`, {
      headers: JSON.parse(localStorage.getItem('acessToken'))
    }).then(response => {
      // conteudo do retorno da API
      this.eventsBooked = response.data
    }).catch(er => {
      if (er.response.status === 401) {
        this.TimeoutNotify('negative', 'Sua sessão expirou!', 'Tente logar novamente!', 'error', 0)
        localStorage.removeItem('acessToken')
        localStorage.removeItem('userId') // if the request fails, remove any possible user token if possible
        this.$router.push('/')
      } else {
        this.TimeoutNotify('negative', 'Não foi possivel deletar o evento', 'verifique sua conexão com a internet', 'error', 3000)
      }
    })

    this.$axios.get(`${process.env.API}/local`, {
      headers: JSON.parse(localStorage.getItem('acessToken'))
    }).then(response => {
      // conteudo do retorno da API
      this.localResponse = response.data
    }).catch(er => {
      if (er.response.status === 401) {
        this.TimeoutNotify('negative', 'Sua sessão expirou!', 'Tente logar novamente!', 'error', 0)
        localStorage.removeItem('acessToken')
        localStorage.removeItem('userId') // if the request fails, remove any possible user token if possible
        this.$router.push('/')
      } else {
        this.TimeoutNotify('negative', 'Não foi possivel deletar o evento', 'verifique sua conexão com a internet', 'error', 3000)
      }
    })

    this.$axios.get(`${process.env.API}/speaker`, {
      headers: JSON.parse(localStorage.getItem('acessToken'))
    }).then(response => {
      // conteudo do retorno da API
      this.speakerResponse = response.data
    }).catch(er => {
      if (er.response.status === 401) {
        this.TimeoutNotify('negative', 'Sua sessão expirou!', 'Tente logar novamente!', 'error', 0)
        localStorage.removeItem('acessToken')
        localStorage.removeItem('userId') // if the request fails, remove any possible user token if possible
        this.$router.push('/')
      } else {
        this.TimeoutNotify('negative', 'Não foi possivel deletar o evento', 'verifique sua conexão com a internet', 'error', 3000)
      }
    })
  },

  methods: {

    onSubmit () {
      this.$refs.myForm.validate().then(success => {
        if (success) {
          this.onOKClick()
        } else {
          // oh no, user has filled in
          // at least one invalid value
        }
      })
    },

    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    onOKClick () {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok', this.form)
      //
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    },

    abortFilterFn () {
      //
    },

    speakerFilterFnAutoselect (val, update, abort) {
      // call abort() at any time if you can't retrieve data somehow

      setTimeout(() => {
        update(
          () => {
            if (val === '') {
              this.speakerOptions = this.speakerResponse
            } else {
              const needle = val.toLowerCase()
              this.speakerOptions = this.speakerResponse.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
            }
          },

          // next function is available in Quasar v1.7.4+;
          // "ref" is the Vue reference to the QSelect
          ref => {
            if (val !== '' && ref.options.length > 0 && ref.optionIndex === -1) {
              ref.moveOptionSelection(1, true) // focus the first selectable option and do not update the input-value
              ref.toggleOption(ref.options[ref.optionIndex], true) // toggle the focused option
            }
          }
        )
      }, 300)
    },

    localFilterFnAutoselect (val, update, abort) {
      // call abort() at any time if you can't retrieve data somehow

      setTimeout(() => {
        update(
          () => {
            if (val === '') {
              this.localOptions = this.localResponse
            } else {
              const needle = val.toLowerCase()
              this.localOptions = this.localResponse.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
            }
          },

          // next function is available in Quasar v1.7.4+;
          // "ref" is the Vue reference to the QSelect
          ref => {
            if (val !== '' && ref.options.length > 0 && ref.optionIndex === -1) {
              ref.moveOptionSelection(1, true) // focus the first selectable option and do not update the input-value
              ref.toggleOption(ref.options[ref.optionIndex], true) // toggle the focused option
            }
          }
        )
      }, 300)
    },

    speakerUpdate () {
      this.form.speaker_id = this.eventEditData.speaker.id
    },

    opcoesDataFilter (data) {
      return data >= date.formatDate(timeStamp, 'YYYY/MM/DD')
    },

    localUpdate () {
      if (this.local !== null) {
        this.form.local_id = this.eventEditData.local.id
      }
    },

    checkTimeOverlap () {
      var currentStartHour = Number(this.form.start_time.split(':')[0])
      var currentEndHour = Number(this.form.end_time.split(':')[0])

      for (let i = currentStartHour; i < currentEndHour + 1; i++) {
        if (!this.FreeHours.includes(i)) {
          return false
        }
      }
      return true
    },

    checkBookedDays (localId) {
      var DayFound = false

      if (localId !== null) {
        for (let index = 0; index < this.eventsBooked.length; index++) {
          if (this.eventsBooked[index].local_id === localId.id) {
            var days = this.eventsBooked[index].days
            var dayList = []
            for (const [key] of Object.entries(days)) {
              //
              var dayRaw = date.extractDate(key, 'DD-MM-YYYY')
              var dayFormated = date.formatDate(dayRaw, 'YYYY/MM/DD')

              dayList.push(dayFormated)
            }
            this.bookedDays = dayList
            DayFound = true

            break
          }
        }
        if (DayFound === false) {
          this.bookedDays = []
        }
      } else {
        this.bookedDays = []
      }
    },

    checkDayBookedHours (day) {
      this.FreeHours = DefaultFreeHours
      if (this.local !== null && day !== null) {
        var timeFound = false
        for (let index = 0; index < this.eventsBooked.length; index++) {
          if (this.eventsBooked[index].local_id === this.local.id) {
            var days = this.eventsBooked[index].days

            for (const [key, value] of Object.entries(days)) {
              if (key === day) {
                var hours = value
                var difference = this.FreeHours.filter(x => !hours.includes(x))

                var currentStartHour = Number(this.form.start_time.split(':')[0])
                var currentEndHour = Number(this.form.end_time.split(':')[0])

                //
                if (difference.length !== 0) {
                  if (hours.includes(currentStartHour)) {
                    var aux = String(difference[0])
                    if (aux.length > 1) {
                      this.form.start_time = aux + ':00'
                    } else {
                      this.form.start_time = '0' + aux + ':00'
                    }
                    this.showNotifs('negative', 'Já existe um evento neste horario', 'Por favor escolha outra hora.', 'error', 0)
                  }

                  if (hours.includes(currentEndHour)) {
                    aux = String(difference[0])
                    if (aux.length > 1) {
                      this.form.end_time = aux + ':00'
                    } else {
                      this.form.end_time = '0' + aux + ':00'
                    }
                    this.showNotifs('negative', 'Já existe um evento neste horario', 'Por favor escolha outra hora.', 'error', 0)
                  }
                }

                this.FreeHours = difference

                timeFound = true
                break
              }
            }
          }
        }
        if (timeFound === false) {
          this.FreeHours = DefaultFreeHours
        }
      } else {
        this.FreeHours = DefaultFreeHours
      }
    },

    GetCurrentDate () {
      var today = new Date()
      var dd = String(today.getDate()).padStart(2, '0')
      var mm = String(today.getMonth() + 1).padStart(2, '0') // January is 0!
      var yyyy = today.getFullYear()

      today = dd + '-' + mm + '-' + yyyy
      return today
    },

    showNotifs (type, message, caption, icon, timeout) {
      setTimeout(() => {
        this.$q.notify({
          type: type,
          progress: true,
          position: 'top',
          message: message,
          caption: caption,
          multiLine: true,
          icon: icon
        })
      }, timeout)
    }

  }
}
</script>
