<template>
  <div class="row items-center q-gutter-md ">
    <q-card
      class="my-card shadow-4"
      bordered
    >
      <!-- Icone do local -->
      <q-btn
        key="1"
        fab
        color="primary"
        icon="place"
        class="absolute"
        style="z-index: 1;top: 10px; right: 12px; transform: translateY(-50%);"
      >
        <q-tooltip
          anchor="top middle"
          self="bottom middle"
          content-class="bg-primary"
          content-style="font-size: 16px; text-align: center;"
        >
          {{local.name}}
        </q-tooltip>
      </q-btn>

      <!-- Conteudo do card -->
      <q-card-section
        horizontal
        v-if="!skeleton"
        @click="EventDesc"
        clickable
        v-ripple
        class="cursor-pointer content full-width non-selectable"
      >
        <q-list
          key="3"
          v-if="!skeleton"
          class="full-width"
        >
          <q-item-label
            header
            overline
            lines="1"
            class="q-py-sm q-pt-lg full-width break_word"
          >
            {{speaker.name}} - {{coordinator.name}}
          </q-item-label>
          <q-item class="full-width">
            <q-item-section>
              <q-item-label
                lines="1"
                class="text-h5"
              >
                {{name}}
              </q-item-label>
              <q-item-label lines="4">
                <span class="text-caption break_word">
                  {{description}}
                </span>
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>

      <!-- Skeleton do conteudo do card -->
      <q-card-section
        horizontal
        v-if="skeleton"
        clickable
        v-ripple
        class="cursor-pointer content"
      >
        <q-list
          key="3"
          class="full-width"
        >
          <q-item-label
            header
            overline
            class="q-py-sm q-pt-lg"
          >
            <q-skeleton
              type="text"
              width="70%"
            />
          </q-item-label>
          <q-item>
            <q-item-section>
              <q-item-label
                lines="1"
                class="text-h5 "
              >
                <q-skeleton
                  type="rect"
                  width="100%"
                />
              </q-item-label>
              <q-item-label lines="4">
                <span class="text-caption">
                  <q-skeleton
                    width="100%"
                    height="80px"
                  />
                </span>
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>

      <q-separator />

      <!-- Botões do card -->
      <q-card-actions
        v-if="!skeleton"
        align="center"
      >
        <q-btn
          flat
          icon="event"
        >
          <q-tooltip
            anchor="top middle"
            self="bottom middle"
            content-class="bg-primary"
            content-style="font-size: 16px; text-align: center;"
          >
            {{date}}
          </q-tooltip>
        </q-btn>

        <q-btn flat>
          {{start_time}} - {{end_time}}
        </q-btn>

        <transition
          enter-active-class="animated fadein"
          leave-active-class="animated fadeOut"
          mode="out-in"
          :duration="{ enter: 350, leave: 350 }"
        >
          <div
            v-if="!subchecked && userRole === '4'"
            key="subchecked"
            style="width:92.781px"
          >
            <q-btn
              flat
              color="grey-9"
              style="width:100%"
            >
              <q-skeleton
                type="rect"
                width="100%"
              />
            </q-btn>
          </div>
          <div
            v-else-if="sub"
            key="unsub"
            style="width:92.781px"
          >
            <q-btn
              flat
              color="negative"
              :disable="!checkDateHour(end_time, date)"
              @click="EventUnsubscriber()"
            >
              Cancelar
            </q-btn>
          </div>
          <div
            v-else-if="userRole === '4'"
            key="sub"
            style="width:92.781px"
          >
            <q-btn
              flat
              color="primary"
              :disable="!checkDateHour(end_time, date)"
              @click="EventSubscriber()"
            >
              Participar
            </q-btn>
          </div>
        </transition>
        <div
          v-if="userRole !== '4'"
          key="disable"
          style="width:92.781px"
        >
          <q-tooltip
            content-style="font-size: 14px"
            content-class="bg-negative"
            anchor="bottom middle"
            self="top middle"
          >
            Apenas contas de participantes<br>
            podem se cadastrar em eventos.
          </q-tooltip>
          <q-btn
            disable
            flat
          >
            Participar
          </q-btn>
        </div>
        <q-btn
          v-if="userRole === '3' || userRole === '4'"
          :disable="checkDateHour(end_time, date) || !sub"
          @click="EventRating"
          icon="grade"
          flat
        >

        </q-btn>
        <q-btn
          v-if="(status && (userRole === '1' || (userRole === '2' && userId === String(coordinator.id))))"
          flat
          icon="more_vert"
        >
          <q-menu
            anchor="center left"
            self="center right"
          >
            <q-item
              clickable
              v-ripple
              :disable="!checkDateHour(end_time, date)"
              class="text-primary non-selectable"
            >
              <q-item-section
                :class="!checkDateHour(end_time, date) ? 'no-pointer-events' : ''"
                @click="EventEdit"
              >Editar</q-item-section>
            </q-item>
            <q-item
              clickable
              v-ripple
              :disable="checkDateHour(end_time, date)"
              class="text-positive non-selectable"
            >
              <q-tooltip
                v-if="checkDateHour(end_time, date)"
                anchor="center middle"
                self="center middle"
                content-style="font-size: 14px"
                content-class="bg-negative"
              >
                Você só pode confirmar a presença<br>
                depois do final do evento.
              </q-tooltip>
              <q-item-section
                :class="checkDateHour(end_time, date) ? 'no-pointer-events' : ''"
                @click="EventPresence"
              >Presenças</q-item-section>
            </q-item>
            <q-item
              clickable
              v-ripple
              class="text-negative non-selectable"
            >
              <q-item-section @click="ConfirmDialog">Excluir</q-item-section>
            </q-item>
          </q-menu>
        </q-btn>
      </q-card-actions>

      <!-- Skeleton dos botoes do card -->
      <q-card-actions
        v-if="skeleton"
        align="center"
        class="full-width"
      >
        <q-btn
          flat
          icon="event"
          color="grey-9"
        />
        <q-btn
          flat
          style="width:35%"
        >
          <q-skeleton
            type="rect"
            width="100%"
          />
        </q-btn>
        <q-btn
          flat
          color="grey-9"
          style="width:25%"
        >
          <q-skeleton
            type="rect"
            width="100%"
          />
        </q-btn>
        <q-btn
          flat
          color="grey-9"
          icon="more_vert"
          padding="xs"
        />
      </q-card-actions>

      <q-inner-loading :showing="visible">
        <q-spinner-puff
          size="100px"
          color="primary"
        />
      </q-inner-loading>
    </q-card>

  </div>
</template>

<script>
import EventDesc from 'components/EventDesc.vue'
import EventEdit from 'components/EventEdit.vue'
import EventRating from 'components/EventRating.vue'
import EventPresence from 'components/EventPresence.vue'
import ConfirmDialog from 'components/ConfirmDialog.vue'

import { date } from 'quasar'

export default {

  data () {
    return {
      visible: false,
      skeleton: false,
      userRole: localStorage.getItem('userRole'),
      userId: localStorage.getItem('userId')
    }
  },

  props: {

    index: {
      type: Number,
      required: true
    },

    id: {
      type: Number,
      required: true
    },

    coordinator: {
      type: Object,
      required: true
    },

    speaker: {
      type: Object,
      required: true
    },

    name: {
      type: String,
      required: true
    },

    description: {
      type: String,
      default: ''
    },

    local: {
      type: Object,
      required: true
    },

    date: {
      type: String,
      required: true
    },

    start_time: {
      type: String,
      required: true
    },

    end_time: {
      type: String,
      required: true
    },

    subchecked: {
      type: Boolean,
      default: false
    },

    sub: {
      type: Boolean,
      default: false
    },

    status: {
      type: Number,
      default: 0
    }

  },

  methods: {
    EventDesc () {
      this.$q
        .dialog({
          component: EventDesc,
          // optional if you want to have access to
          // Router, Vuex store, and so on, in your
          // custom component:
          parent: this, // becomes child of this Vue node
          // ("this" points to your Vue component)
          // (prop was called "root" in < 1.1.0 and
          // still works, but recommending to switch
          // to the more appropriate "parent" name)

          // props forwarded to component
          // (everything except "component" and "parent" props above):
          id: this.id,
          coordinator: this.coordinator,
          speaker: this.speaker,
          name: this.name,
          description: this.description,
          local: this.local,
          date: this.date,
          start_time: this.start_time,
          end_time: this.end_time
          // ...more.props...
        })
        .onOk(() => {

        })
        .onCancel(() => {

        })
        .onDismiss(() => {
        })
    },
    EventEdit () {
      this.$q
        .dialog({
          component: EventEdit,
          // optional if you want to have access to
          // Router, Vuex store, and so on, in your
          // custom component:
          parent: this, // becomes child of this Vue node
          // ("this" points to your Vue component)
          // (prop was called "root" in < 1.1.0 and
          // still works, but recommending to switch
          // to the more appropriate "parent" name)

          // props forwarded to component
          // (everything except "component" and "parent" props above):
          id: this.id,
          index: this.index,
          coordinator: this.coordinator,
          speaker: this.speaker,
          name: this.name,
          description: this.description,
          local: this.local,
          date: this.date,
          start_time: this.start_time,
          end_time: this.end_time
          // ...more.props...
        })
        .onOk((form) => {
          this.loading()
          this.$emit('EventEdited', form)
        })
        .onCancel(() => {

        })
        .onDismiss(() => {

        })
    },

    EventPresence () {
      this.$q
        .dialog({
          component: EventPresence,
          // optional if you want to have access to
          // Router, Vuex store, and so on, in your
          // custom component:
          parent: this, // becomes child of this Vue node
          // ("this" points to your Vue component)
          // (prop was called "root" in < 1.1.0 and
          // still works, but recommending to switch
          // to the more appropriate "parent" name)

          // props forwarded to component
          // (everything except "component" and "parent" props above):
          id: this.id,
          index: this.index
          // ...more.props...
        })
        .onOk((form) => {
          this.$emit('EventPresenceDone', this.index)
          this.loading()
        })
        .onCancel(() => {

        })
        .onDismiss(() => {

        })
    },

    ConfirmDialog () {
      this.$q
        .dialog({
          component: ConfirmDialog,
          // optional if you want to have access to
          // Router, Vuex store, and so on, in your
          // custom component:
          parent: this, // becomes child of this Vue node
          // ("this" points to your Vue component)
          // (prop was called "root" in < 1.1.0 and
          // still works, but recommending to switch
          // to the more appropriate "parent" name)

          // props forwarded to component
          // (everything except "component" and "parent" props above):
          title: 'Deletar evento',
          title_class: 'text-negative',
          sub_title: 'Você tem certeza que deseja deletar o evento:',
          body: this.name,
          body_class: 'text-h6',
          left_button: 'Não',
          left_button_color: 'primary',
          rigth_button: 'Sim, desejo deletar',
          rigth_button_color: 'negative'
          // ...more.props...
        })
        .onOk(() => {
          this.$emit('EventDeleted', this.id, this.index)
        })
        .onCancel(() => {

        })
        .onDismiss(() => {

        })
    },

    EventRating () {
      this.$q
        .dialog({
          component: EventRating,
          // optional if you want to have access to
          // Router, Vuex store, and so on, in your
          // custom component:
          parent: this // becomes child of this Vue node
          // ("this" points to your Vue component)
          // (prop was called "root" in < 1.1.0 and
          // still works, but recommending to switch
          // to the more appropriate "parent" name)

          // props forwarded to component
          // (everything except "component" and "parent" props above):
          // ...more.props...
        })
        .onOk(() => {
          this.$emit('EventDeleted', this.id, this.index)
        })
        .onCancel(() => {

        })
        .onDismiss(() => {

        })
    },
    loading () {
      this.visible = true
      this.skeleton = true
      setTimeout(() => {
        this.visible = false
        this.skeleton = false
      }, 2000)
    },

    EventSubscriber () {
      this.$emit('EventSubscriber', this.id, this.index)
    },

    EventUnsubscriber () {
      this.$emit('EventUnsubscriber', this.id, this.index)
    },

    checkDateHour (eventEndHour, eventDate) {
      var now = new Date()
      var event = date.extractDate(eventDate + ' --- ' + eventEndHour, 'DD-MM-YYYY --- HH:mm')

      if (event < now) {
        return false
      } else {
        return true
      }
    }

    // checkPermition (userRole) {
    //   if (userRole === '1') {

    //   } else if ( userRole === '2' && userRole === this.coordinator.id) {

    //   }
    // }
  }
}
</script>

<style lang="scss" scoped>
.my-card {
  width: 100%;
  width: 320px;
  .content {
    height: 180px;
  }
}
</style>
