<template>
  <div class="col-12 col-sm-6">
    <q-card bordered>
      <q-list>
        <q-item-label />

        <q-item
          v-if="skeleton"
          clickable
          v-ripple
          style="width: 100%"
        >
          <q-item-section avatar>
            <q-avatar>
              <q-skeleton
                type="QAvatar"
                width="100%"
              />
            </q-avatar>
          </q-item-section>

          <q-item-section>
            <q-item-label lines="1">
              <q-skeleton
                type="rect"
                width="80%"
              />
            </q-item-label>
            <q-item-label caption>
              <q-skeleton
                type="text"
                width="95%"
              />
            </q-item-label>
          </q-item-section>

          <q-item-section side>
            <q-checkbox
              disable
              v-model="val"
            />
          </q-item-section>
        </q-item>

        <q-item
          v-else
          clickable
          v-ripple
          class="non-selectable"
          @click="LocationDesc"
          style="width: 100%"
        >
          <q-item-section avatar>
            <q-avatar
              font-size="35px"
              icon="location_on"
            />
          </q-item-section>

          <q-item-section>
            <q-item-label lines="1">{{name}}</q-item-label>
            <q-item-label
              caption
              lines="1"
            >Capacitade: {{capacity}}</q-item-label>
          </q-item-section>

          <q-item-section side>
            <q-checkbox
              disable
              @input="checkbox(val)"
              v-model="val"
            />
          </q-item-section>
        </q-item>

        <q-inner-loading :showing="visible">
          <q-spinner-puff
            size="100px"
            color="primary"
          />
        </q-inner-loading>
      </q-list>
    </q-card>
  </div>
</template>

<script>
import LocationDesc from 'components/LocationDesc.vue'
import ConfirmDialog from 'components/ConfirmDialog.vue'

export default {

  data () {
    return {
      val: false,
      visible: false,
      skeleton: false
    }
  },

  props: {

    id: {
      type: Number,
      required: false
    },

    index: {
      type: Number,
      required: false
    },

    capacity: {
      type: Number,
      required: false
    },

    name: {
      type: String,
      required: false
    },

    description: {
      type: String,
      required: false
    },

    accessibility: {
      type: String,
      required: false
    }
  },

  methods: {
    LocationDesc () {
      this.$q
        .dialog({
          component: LocationDesc,
          // optional if you want to have access to
          // Router, Vuex store, and so on, in your
          // custom component:
          parent: this, // becomes child of this Vue node
          // ("this" points to your Vue component)
          // (prop was called "root" in < 1.1.0 and
          // still works, but recommending to switch
          // to the more appropriate "parent" name)

          // props forwarded to component
          // (everything except "component" and "parent" props above):
          id: this.id,
          index: this.index,
          capacity: this.capacity,
          name: this.name,
          description: this.description,
          accessibility: this.accessibility

          // ...more.props...
        })
        .onOk((userEditData) => {
          // this.$emit('UserEdited', userEditData)
          this.loading()
        })
        .onCancel(() => {

        })
        .onDismiss(() => {

        })
    },
    ConfirmDialog () {
      this.$q
        .dialog({
          component: ConfirmDialog,
          // optional if you want to have access to
          // Router, Vuex store, and so on, in your
          // custom component:
          parent: this, // becomes child of this Vue node
          // ("this" points to your Vue component)
          // (prop was called "root" in < 1.1.0 and
          // still works, but recommending to switch
          // to the more appropriate "parent" name)

          // props forwarded to component
          // (everything except "component" and "parent" props above):
          title: 'Deletar evento',
          title_class: 'text-negative',
          sub_title: 'Você tem certeza que deseja deletar o evento:',
          body: this.name,
          body_class: 'text-h6',
          left_button: 'Não',
          left_button_color: 'primary',
          rigth_button: 'Sim, desejo deletar',
          rigth_button_color: 'negative'
          // ...more.props...
        })
        .onOk(() => {
          this.$emit('EventDeleted', this.id, this.index)
        })
        .onCancel(() => {

        })
        .onDismiss(() => {

        })
    },

    loading () {
      this.visible = true
      this.skeleton = true
      setTimeout(() => {
        this.visible = false
        this.skeleton = false
      }, 2000)
    },

    checkbox (val) {
      if (val === true) {
        console.log('entrou addUser')
        this.$emit('addUser', this.id)
      } else {
        console.log('entrou delUser')
        this.$emit('delUser', this.id)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.my-card {
  width: 100%;
  width: 100%;
  width: 320px;
  .content {
    height: 180px;
  }
}
</style>
