<template>
  <q-dialog
    ref="dialog"
    @hide="onDialogHide"
  >
    <q-card class="dialog_card_size">
      <q-bar class="bg-primary text-white rounded-borders">
        <div class="non-selectable">
          Informações do local
        </div>
        <q-space />
        <q-btn
          @click="onCancelClick"
          dense
          flat
          icon="close"
        />
      </q-bar>

      <q-separator />

      <q-card-section
        style="max-height: 75vh"
        class="scroll"
      >
        <div>
          <q-list class="row wrap justify-center items-start content-start">
            <!-- Incio do conteudo da janela -->
            <q-item class="col-12 ">
              <q-item-section>
                <q-input
                  filled
                  v-model="name"
                  dense="dense"
                >
                  <template v-slot:prepend>
                    <q-icon
                      color="primary"
                      name="location_on"
                    />
                  </template>
                </q-input>
              </q-item-section>
            </q-item>

            <q-item class="col-12 ">
              <q-item-section>
                <q-input
                  filled
                  v-model="capacity"
                  dense="dense"
                >
                  <template v-slot:prepend>
                    <q-icon
                      color="primary"
                      name="people"
                    />
                  </template>
                </q-input>
              </q-item-section>
            </q-item>

            <q-item class="col-12 ">
              <q-item-section>
                <q-input
                  filled
                  v-model="accessibility"
                  dense="dense"
                >
                  <template v-slot:prepend>
                    <q-icon
                      color="primary"
                      name="accessible"
                    />
                  </template>
                </q-input>
              </q-item-section>
            </q-item>

            <q-item class="col-12 ">
              <q-item-section>
                <q-input
                  v-model="description"
                  filled
                  autogrow
                >
                  <template v-slot:prepend>
                    <q-icon
                      color="primary"
                      name="description"
                    />
                  </template>
                </q-input>
              </q-item-section>
            </q-item>
            <!-- Fim do conteudo da janela -->
          </q-list>
        </div>

      </q-card-section>

      <q-separator />

      <q-card-actions align="right">
        <q-btn
          flat
          label="Cancelar"
          color="negative"
          @click="onCancelClick"
        />
        <q-btn
          flat
          label="Confirmar"
          color="primary"
          @click="onOKClick"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>

export default {
  props: {
    id: {
      type: Number,
      required: true
    },

    name: {
      type: String,
      required: true
    },

    capacity: {
      type: Number,
      required: false
    },

    accessibility: {
      type: String,
      required: false
    },

    description: {
      type: String,
      required: false
    },
    function: {
      type: String,
      default: ''
    }
  },

  methods: {
    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    onOKClick () {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok')
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    }
  }
}
</script>
