<template>
  <q-dialog
    ref="dialog"
    @hide="onDialogHide"
  >
    <q-card class="dialog_card_size">
      <q-bar class="bg-primary text-white rounded-borders">
        <div class="non-selectable">
          Informações do local
        </div>
        <q-space />
        <q-btn
          @click="onCancelClick"
          dense
          flat
          icon="close"
        />
      </q-bar>

      <q-separator />

      <q-card-section
        style="max-height: 75vh"
        class="scroll"
      >
        <div>
          <q-list class="row wrap justify-center items-start content-start">
            <!-- Incio do conteudo da janela -->
            <q-item
              clickable
              v-ripple
              class="col -sm-12"
            >
              <q-item-section avatar>
                <q-icon
                  color="primary"
                  name="location_on"
                />
              </q-item-section>
              <q-item-section>
                <q-item-label>Local</q-item-label>
                <q-item-label
                  caption
                  class="break_word"
                >{{name}}</q-item-label>
              </q-item-section>
            </q-item>

            <q-item
              clickable
              v-ripple
              class="col-12"
            >
              <q-item-section avatar>
                <q-icon
                  color="primary"
                  name="people"
                />
              </q-item-section>
              <q-item-section>
                <q-item-label>Capacidade</q-item-label>
                <q-item-label caption>{{capacity}}</q-item-label>
              </q-item-section>
            </q-item>

            <q-item
              clickable
              v-ripple
              class="col-12"
            >
              <q-item-section avatar>
                <q-icon
                  color="primary"
                  name="accessible"
                />
              </q-item-section>
              <q-item-section>
                <q-item-label>Acessibilidade</q-item-label>
                <q-item-label
                  caption
                  class="break_word"
                >{{accessibility}}</q-item-label>
              </q-item-section>
            </q-item>

            <q-item
              clickable
              v-ripple
              class="col-12"
            >
              <q-item-section avatar>
                <q-icon
                  color="primary"
                  name="description"
                />
              </q-item-section>
              <q-item-section>
                <q-item-label>Descrição</q-item-label>
                <q-item-label
                  caption
                  class="break_word"
                >{{description}}</q-item-label>
              </q-item-section>
            </q-item>
            <!-- Fim do conteudo da janela -->
          </q-list>
        </div>

      </q-card-section>

      <q-separator />

      <q-card-actions align="right">
        <q-btn
          flat
          label="Fechar"
          color="negative"
          @click="onCancelClick"
        />
        <q-btn
          v-if="false"
          flat
          label="Editar"
          color="primary"
          @click="LocationEdit"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>

import LocationEdit from 'components/LocationEdit.vue'

export default {
  props: {
    id: {
      type: Number,
      required: true
    },

    name: {
      type: String,
      required: true
    },

    capacity: {
      type: Number,
      required: false
    },

    accessibility: {
      type: String,
      required: false
    },

    description: {
      type: String,
      required: false
    },
    function: {
      type: String,
      default: ''
    }
  },

  methods: {
    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    onOKClick () {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok')
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    },
    LocationEdit () {
      this.$q
        .dialog({
          component: LocationEdit,
          // optional if you want to have access to
          // Router, Vuex store, and so on, in your
          // custom component:
          parent: this, // becomes child of this Vue node
          // ("this" points to your Vue component)
          // (prop was called "root" in < 1.1.0 and
          // still works, but recommending to switch
          // to the more appropriate "parent" name)

          // props forwarded to component
          // (everything except "component" and "parent" props above):
          name: this.name,
          capacity: this.capacity,
          accessibility: this.accessibility,
          description: this.description
          // ...more.props...
        })
        .onOk(() => {

        })
        .onCancel(() => {

        })
        .onDismiss(() => {

        })
    }
  }
}
</script>
