<template>
  <q-dialog
    ref="dialog"
    persistent
    @hide="onDialogHide"
  >
    <q-card class="dialog_card_size">
      <q-bar class="bg-primary text-white rounded-borders">
        <div class="non-selectable">
          Informações do palestrante
        </div>
        <q-space />
        <q-btn
          @click="onCancelClick"
          dense
          flat
          icon="close"
        />
      </q-bar>

      <q-separator />

      <q-card-section
        style="max-height: 75vh"
        class="scroll q-py-xs"
      >

        <q-form
          @submit="onSubmit"
          @reset="onReset"
          ref="userEditForm"
        >
          <q-list class="row wrap justify-center items-start content-start">
            <!-- Incio do conteudo da janela -->
            <div class="col-12 q-mt-md ">
              Informacoes básicas
            </div>

            <!-- Nome -->
            <q-item class="col-12 col-sm-6">
              <q-item-section>
                <q-input
                  filled
                  v-model="userEditData.name"
                  hint="Nome"
                  dense="dense"
                  lazy-rules
                  :rules="[ val => !!val || 'Por favor, digite algo.']"
                >
                  <template v-slot:prepend>
                    <q-icon
                      color="primary"
                      name="person"
                    />
                  </template>
                </q-input>
              </q-item-section>
            </q-item>

            <!-- Sobrenome -->
            <q-item class="col-12 col-sm-6">
              <q-item-section>
                <q-input
                  filled
                  v-model="userEditData.surname"
                  hint="Sobrenome"
                  dense="dense"
                  lazy-rules
                  :rules="[ val => !!val || 'Por favor, digite algo.']"
                >
                </q-input>
              </q-item-section>
            </q-item>

            <!-- Sexo -->
            <q-item class="col-9">
              <q-item-section>
                <div class="q-gutter-sm">
                  <q-radio
                    v-model="userEditData.sex"
                    val="H"
                    label="Homem"
                  />
                  <q-radio
                    v-model="userEditData.sex"
                    val="M"
                    label="Mulher"
                  />
                  <q-radio
                    v-model="userEditData.sex"
                    val="O"
                    label="Outros"
                  />
                </div>
              </q-item-section>
            </q-item>

            <!-- Data de nascimento -->
            <q-item class="col-12 col-sm-6">
              <q-item-section>
                <q-input
                  hint="Data de nascimento"
                  filled
                  v-model="userEditData.birth_date"
                  mask="##/##/####"
                  dense="dense"
                  lazy-rules
                  :rules="[ val => !!val || 'Por favor, digite algo.']"
                >
                  <template v-slot:prepend>
                    <q-icon
                      color="primary"
                      name="event"
                      class="cursor-pointer"
                    >
                      <q-popup-proxy
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-date
                          v-model="userEditData.birth_date"
                          mask="DD-MM-YYYY"
                        >
                          <div class="row items-center justify-end">
                            <q-btn
                              v-close-popup
                              label="Close"
                              color="primary"
                              flat
                            />
                          </div>
                        </q-date>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </q-item-section>
            </q-item>

            <!-- Curso -->
            <q-item class="col-12 col-sm-6">
              <q-item-section>
                <q-input
                  filled
                  v-model="userEditData.course"
                  hint="Curso"
                  dense="dense"
                >
                  <template v-slot:prepend>
                    <q-icon
                      color="primary"
                      name="school"
                    />
                  </template>
                </q-input>
              </q-item-section>
            </q-item>

            <!-- CPF -->
            <q-item class="col-12 col-sm-6">
              <q-item-section>
                <q-input
                  filled
                  v-model="userEditData.cpf"
                  mask="###.###.###-##"
                  fill-mask="#"
                  hint="CPF"
                  dense="dense"
                  lazy-rules
                  :rules="[
                  val => this.DocumentPersonBrFilter(val) || 'Desculpe, este CPF não é valido.']
              "
                >
                  <template v-slot:prepend>
                    <q-icon
                      color="primary"
                      name="branding_watermark"
                    />
                  </template>
                </q-input>
              </q-item-section>
            </q-item>

            <!-- Celular -->
            <q-item class="col-12 col-sm-6">
              <q-item-section>
                <q-input
                  filled
                  v-model="userEditData.cellphone"
                  hint="celular"
                  dense="dense"
                >
                  <template v-slot:prepend>
                    <q-icon
                      color="primary"
                      name="smartphone"
                    />
                  </template>
                </q-input>
              </q-item-section>
            </q-item>

            <!-- Acessibilidade -->
            <!-- <q-item class="col-12 col-sm-6">
              <q-item-section>
                <q-input
                  filled
                  v-model="userEditData.accessibility"
                  hint="Acessibilidade"
                  dense="dense"
                >
                  <template v-slot:prepend>
                    <q-icon
                      color="primary"
                      name="accessible"
                    />
                  </template>
                </q-input>
              </q-item-section>
            </q-item> -->

            <!-- Descrição -->
            <q-item class="col-12">
              <q-item-section class="q-mb-lg">
                <q-input
                  v-model="userEditData.description"
                  hint="Descrição"
                  filled
                  type="textarea"
                />
              </q-item-section>
            </q-item>

            <div class="col-12 q-mt-sm">
              Informações de Login
            </div>

            <!-- Telefone Fixo -->
            <!-- <q-item class="col-12 col-sm-6">
              <q-item-section>
                <q-input
                  filled
                  v-model="userEditData.phone"
                  hint="Telefone fixo"
                  dense="dense"
                >
                  <template v-slot:prepend>
                    <q-icon
                      color="primary"
                      name="local_phone"
                    />
                  </template>
                </q-input>
              </q-item-section>
            </q-item> -->

            <!-- Email -->
            <q-item class="col-12">
              <q-item-section>
                <q-input
                  filled
                  v-model="userEditData.email"
                  hint="E-mail"
                  dense="dense"
                  lazy-rules
                  :rules="[
                  val => !!val || '* Por favor, digite algo.',
                  val => val.match(/^[\w-\.]+@([\w-]+\.)+[\w-]{1,30}$/g) || 'Por favor, digite um email valido.']"
                >
                  <template v-slot:prepend>
                    <q-icon
                      color="primary"
                      name="email"
                    />
                  </template>
                </q-input>
              </q-item-section>
            </q-item>

            <q-item class="col-12">
              <q-item-section>
                <q-input
                  v-model="userEditData.password"
                  label="Senha"
                  filled
                  dense="dense"
                  :type="isPwd ? 'password' : 'text'"
                  hint=""
                >
                  <template v-slot:prepend>
                    <q-icon
                      color="primary"
                      name="branding_watermark"
                    />
                  </template>
                  <template v-slot:append>
                    <q-icon
                      :name="isPwd ? 'visibility_off' : 'visibility'"
                      class="cursor-pointer"
                      @click="isPwd = !isPwd"
                    />
                  </template>
                </q-input>
              </q-item-section>
            </q-item>

            <div class="col-12 q-mt-md ">
              Endereço
            </div>

            <!-- Rua -->

            <q-item class="col-12">
              <q-item-section>
                <q-input
                  readonly
                  v-model="userEditData.street"
                  hint="Rua"
                  dense="dense"
                >
                  <template v-slot:prepend>
                    <q-icon
                      color="primary"
                      name="room"
                    />
                  </template>
                </q-input>
              </q-item-section>
            </q-item>

            <!-- Bairro -->
            <q-item class="col-12 col-sm-6">
              <q-item-section>
                <q-input
                  readonly
                  v-model="userEditData.neighborhood"
                  hint="Bairro"
                  dense="dense"
                >
                  <template v-slot:prepend>
                    <q-icon
                      color="primary"
                      name="room"
                    />
                  </template>
                </q-input>
              </q-item-section>
            </q-item>

            <q-item class="col-6">
              <q-item-section>
                <q-input
                  ref="cep"
                  bottom-slots
                  v-model="userEditData.cep"
                  label="CEP"
                  filled
                  mask="#####-###"
                  dense
                  @blur="validarcep(userEditData.cep)"
                  lazy-rules="ondemand"
                  :rules="[
                  val => !!val || '* Por favor, digite algo.',
                  val => validCep || 'CEP Invalido, por favor tente novamente.']"
                >

                  <template v-slot:hint>
                    04534-423
                  </template>

                  <template v-slot:after>
                    <q-btn
                      round
                      dense
                      flat
                      @click="validarcep(userEditData.cep)"
                      icon="send"
                    />
                  </template>
                </q-input>
              </q-item-section>
            </q-item>

            <!-- Cidade -->
            <q-item class="col-12 col-sm-6">
              <q-item-section>
                <q-input
                  readonly
                  v-model="userEditData.city"
                  hint="Cidade"
                  dense="dense"
                >
                  <template v-slot:prepend>
                    <q-icon
                      color="primary"
                      name="room"
                    />
                  </template>
                </q-input>
              </q-item-section>
            </q-item>

            <!-- Estado -->
            <q-item class="col-12 col-sm-6">
              <q-item-section class="q-mb-lg">
                <q-input
                  readonly
                  v-model="userEditData.state"
                  hint="Estado"
                  dense="dense"
                >
                  <template v-slot:prepend>
                    <q-icon
                      color="primary"
                      name="room"
                    />
                  </template>
                </q-input>
              </q-item-section>
            </q-item>
            <!-- Fim do conteudo da janela -->
          </q-list>
        </q-form>

      </q-card-section>

      <q-separator />

      <q-card-actions align="right">
        <q-btn
          flat
          label="Fechar"
          color="negative"
          @click="onCancelClick"
        />
        <q-btn
          flat
          label="Confirmar"
          color="positive"
          @click="onOKClick"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<script>
export default {

  props: {

    id: {
      type: Number,
      required: false
    },

    index: {
      type: Number,
      required: false
    },

    name: {
      type: String,
      required: false
    },

    number: {
      type: String,
      required: false
    },

    birth_date: {
      type: String,
      required: false
    },

    surname: {
      type: String,
      required: false
    },

    initial: {
      type: String,
      required: false
    },

    sex: {
      type: String,
      required: false
    },

    course: {
      type: String,
      required: false
    },

    cpf: {
      type: String,
      required: false
    },

    phone: {
      type: String,
      required: false
    },

    cellphone: {
      type: String,
      required: false
    },

    email: {
      type: String,
      required: false
    },

    description: {
      type: String,
      required: false
    },

    accessibility: {
      type: String,
      required: false
    },

    street: {
      type: String,
      required: false
    },

    neighborhood: {
      type: String,
      required: false
    },

    cep: {
      type: String,
      required: false
    },

    city: {
      type: String,
      required: false
    },
    state: {
      type: String,
      required: false
    }
  },

  data () {
    return {
      isPwd: true,
      password: null,
      validCep: true,
      userEditData: {
        id: this.id,
        index: this.index,
        name: this.name,
        number: this.number,
        birth_date: this.birth_date,
        surname: this.surname,
        initial: this.initial,
        sex: this.sex,
        course: this.course,
        cpf: this.cpf,
        phone: this.phone,
        cellphone: this.cellphone,
        email: this.email,
        description: this.description,
        accessibility: this.accessibility,
        street: this.street,
        neighborhood: this.neighborhood,
        cep: this.cep,
        city: this.city,
        state: this.state
      }
    }
  },

  methods: {
    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    onOKClick () {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog

      this.$refs.userEditForm.validate().then(success => {
        if (success) {
          // yay, models are correct
          this.$emit('ok', this.userEditData)
          // or with payload: this.$emit('ok', { ... })

          // then hiding dialog
          this.hide()
        } else {
          // oh no, user has filled in
          // at least one invalid value
        }
      })
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    },

    DocumentPersonBrFilter (documentId) {
      if (documentId !== null) {
        documentId = documentId.replace(/[^\d]+/g, '')
        if (documentId === '') return false
        // Elimina documentIds invalidos conhecidos
        if (documentId.length !== 11 ||
          documentId === '00000000000' ||
          documentId === '11111111111' ||
          documentId === '22222222222' ||
          documentId === '33333333333' ||
          documentId === '44444444444' ||
          documentId === '55555555555' ||
          documentId === '66666666666' ||
          documentId === '77777777777' ||
          documentId === '88888888888' ||
          documentId === '99999999999') { return false }
        // Valida 1o digito
        var add = 0
        for (var i = 0; i < 9; i++) { add += parseInt(documentId.charAt(i)) * (10 - i) }
        var rev = 11 - (add % 11)
        if (rev === 10 || rev === 11) { rev = 0 }
        if (rev !== parseInt(documentId.charAt(9))) { return false }
        // Valida 2o digito
        add = 0
        for (i = 0; i < 10; i++) { add += parseInt(documentId.charAt(i)) * (11 - i) }
        rev = 11 - (add % 11)
        if (rev === 10 || rev === 11) { rev = 0 }
        if (rev !== parseInt(documentId.charAt(10))) { return false }
        return true
      }
    },

    validarcep (cep) {
      cep = cep.replace(/[#-]/g, '')

      if (cep.length === 8) {
        this.$axios.get(`https://viacep.com.br/ws/${cep}/json`).then(response => {
          if (response.data.erro === true) {
            this.validCep = false
            this.userEditData.neighborhood = ''
            this.userEditData.city = ''
            this.userEditData.street = ''
            this.userEditData.state = ''
            this.$refs.cep.validate()
          } else {
            this.userEditData.neighborhood = response.data.bairro
            this.userEditData.city = response.data.localidade
            this.userEditData.street = response.data.logradouro
            this.userEditData.state = response.data.uf
            this.validCep = true
            this.$refs.cep.validate()
          }
        }).catch(er => {

        })
      } else {
        this.validCep = false
        this.$refs.cep.validate()
      }
    },
    onSubmit () {
      this.onOKClick()
    },

    onReset () {

    }
  }
}
</script>
