<template>
  <q-dialog
    ref="dialog"
    @hide="onDialogHide"
  >
    <q-card class="dialog_card_size">
      <q-bar class="bg-primary text-white rounded-borders">
        <div class="non-selectable">
          Informações do palestrante
        </div>
        <q-space />
        <q-btn
          @click="onCancelClick"
          dense
          flat
          icon="close"
        />
      </q-bar>

      <q-separator />

      <q-card-section
        style="max-height: 75vh"
        class="scroll"
      >
        <div>
          <q-list class="row wrap justify-center items-start content-start">
            <!-- Incio do conteudo da janela -->
            <div class="q-px-sm">
              <q-list class="row wrap justify-center items-start content-start">
                <div class="col-12">
                  Informacoes básicas
                </div>

                <!-- Nome -->
                <q-item class="col-6">
                  <q-item-section avatar>
                    <q-icon
                      color="primary"
                      name="person"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Nome</q-item-label>
                    <q-item-label
                      caption
                      class="break_word"
                    >{{name}}</q-item-label>
                  </q-item-section>
                </q-item>

                <!-- Sobrenome -->
                <q-item class="col-6">
                  <q-item-section avatar>
                    <q-icon
                      color="primary"
                      name="person"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Sobrenome</q-item-label>
                    <q-item-label
                      caption
                      class="break_word"
                    >{{surname}}</q-item-label>
                  </q-item-section>
                </q-item>

                <!-- Data de nascimento -->
                <q-item class="col-12 col-sm-6">
                  <q-item-section avatar>
                    <q-icon
                      color="primary"
                      name="today"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Data de nasc.</q-item-label>
                    <q-item-label caption>{{birth_date}}</q-item-label>
                  </q-item-section>
                </q-item>

                <!-- Email -->
                <q-item class="col-12 col-sm-6">
                  <q-item-section avatar>
                    <q-icon
                      color="primary"
                      name="email"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>E-mail</q-item-label>
                    <q-item-label
                      caption
                      class="break_word"
                    >{{email}}</q-item-label>
                  </q-item-section>
                </q-item>

                <!-- Sexo -->
                <q-item class="col-12 col-sm-6">
                  <q-item-section avatar>
                    <q-icon
                      color="primary"
                      name="supervisor_account"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Genêro</q-item-label>
                    <q-item-label
                      v-if="sex === 'H'"
                      caption
                    >Homem</q-item-label>
                    <q-item-label
                      v-else-if="sex === 'M'"
                      caption
                    >Mulher</q-item-label>
                    <q-item-label
                      v-else
                      caption
                    >Outros</q-item-label>
                  </q-item-section>
                </q-item>

                <!-- Curso -->
                <q-item class="col-12 col-sm-6">
                  <q-item-section avatar>
                    <q-icon
                      color="primary"
                      name="school"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Curso</q-item-label>
                    <q-item-label caption>{{course}}</q-item-label>
                  </q-item-section>
                </q-item>

                <!-- CPF -->
                <q-item class="col-12 col-sm-6">
                  <q-item-section avatar>
                    <q-icon
                      color="primary"
                      name="branding_watermark"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>CPF</q-item-label>
                    <q-item-label caption>{{cpf}}</q-item-label>
                  </q-item-section>
                </q-item>

                <!-- Celular -->
                <q-item class="col-12 col-sm-6">
                  <q-item-section avatar>
                    <q-icon
                      color="primary"
                      name="smartphone"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Celular</q-item-label>
                    <q-item-label caption>{{cellphone}}</q-item-label>
                  </q-item-section>
                </q-item>

                <!-- Acessibilidade -->
                <!-- <q-item class="col-12 col-sm-6">
                  <q-item-section avatar>
                    <q-icon
                      color="primary"
                      name="accessible"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Acessibilidade</q-item-label>
                    <q-item-label caption>{{accessibility}}</q-item-label>
                  </q-item-section>
                </q-item> -->

                <!-- Descrição -->
                <q-item class="col-12">
                  <q-item-section avatar>
                    <q-icon
                      color="primary"
                      name="description"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Descriao</q-item-label>
                    <q-item-label caption>{{description}}</q-item-label>
                  </q-item-section>
                </q-item>
                <!--
                <div class="col-12 q-mt-md">
                  Informações de Login
                </div> -->

                <!-- Telefone Fixo -->
                <!-- <q-item class="col-12 col-sm-6">
                  <q-item-section avatar>
                    <q-icon
                      color="primary"
                      name="local_phone"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Telefone Fixo</q-item-label>
                    <q-item-label caption>{{phone}}</q-item-label>
                  </q-item-section>
                </q-item> -->

                <!-- Password -->
                <!-- <q-item class="col-12">
                  <q-item-section avatar>
                    <q-icon
                      color="primary"
                      name="lock"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Senha</q-item-label>
                    <q-item-label caption>*************</q-item-label>
                  </q-item-section>
                </q-item> -->

                <div class="col-12 q-mt-md">
                  Endereço
                </div>

                <!-- Rua -->
                <q-item class="col-12">
                  <q-item-section avatar>
                    <q-icon
                      color="primary"
                      name="location_on"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Rua</q-item-label>
                    <q-item-label
                      caption
                      class="break_word"
                    >{{street}}</q-item-label>
                  </q-item-section>
                </q-item>

                <!-- Bairro -->
                <q-item class="col-12 col-sm-6">
                  <q-item-section avatar>
                    <q-icon
                      color="primary"
                      name="location_on"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Bairro</q-item-label>
                    <q-item-label caption>{{neighborhood}}</q-item-label>
                  </q-item-section>
                </q-item>

                <!-- CEP -->
                <q-item class="col-12 col-sm-6">
                  <q-item-section avatar>
                    <q-icon
                      color="primary"
                      name="location_on"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>CEP</q-item-label>
                    <q-item-label caption>{{cep}}</q-item-label>
                  </q-item-section>
                </q-item>

                <!-- Cidade -->
                <q-item class="col-12 col-sm-6">
                  <q-item-section avatar>
                    <q-icon
                      color="primary"
                      name="location_on"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Cidade</q-item-label>
                    <q-item-label caption>{{city}}</q-item-label>
                  </q-item-section>
                </q-item>

                <!-- Estado -->
                <q-item class="col-12 col-sm-6">
                  <q-item-section avatar>
                    <q-icon
                      color="primary"
                      name="location_on"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Estado</q-item-label>
                    <q-item-label caption>{{state}}</q-item-label>
                  </q-item-section>
                </q-item>

              </q-list>
            </div>
            <!-- Fim do conteudo da janela -->
          </q-list>
        </div>

      </q-card-section>

      <q-separator />

      <q-card-actions align="right">
        <q-btn
          flat
          label="Fechar"
          color="negative"
          @click="onCancelClick"
        />

      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
// import UserEdit from 'components/UserEdit.vue'
export default {

  props: {

    id: {
      type: Number,
      required: false
    },

    index: {
      type: Number,
      required: false
    },

    name: {
      type: String,
      required: false
    },

    number: {
      type: String,
      required: false
    },

    surname: {
      type: String,
      required: false
    },

    initial: {
      type: String,
      required: false
    },

    birth_date: {
      type: String,
      required: false
    },

    sex: {
      type: String,
      required: false
    },

    course: {
      type: String,
      required: false
    },

    cpf: {
      type: String,
      required: false
    },

    phone: {
      type: String,
      required: false
    },

    cellphone: {
      type: String,
      required: false
    },

    email: {
      type: String,
      required: false
    },

    description: {
      type: String,
      required: false
    },

    accessibility: {
      type: String,
      required: false
    },

    street: {
      type: String,
      required: false
    },

    neighborhood: {
      type: String,
      required: false
    },

    cep: {
      type: String,
      required: false
    },

    city: {
      type: String,
      required: false
    },
    state: {
      type: String,
      required: false
    }
  },

  methods: {
    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    onOKClick (userEditData) {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok', userEditData)
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    }
    // UserEdit () {
    //   this.$q
    //     .dialog({
    //       component: UserEdit,
    //       // optional if you want to have access to
    //       // Router, Vuex store, and so on, in your
    //       // custom component:
    //       parent: this, // becomes child of this Vue node
    //       // ("this" points to your Vue component)
    //       // (prop was called "root" in < 1.1.0 and
    //       // still works, but recommending to switch
    //       // to the more appropriate "parent" name)

    //       // props forwarded to component
    //       // (everything except "component" and "parent" props above):
    //       id: this.id,
    //       index: this.index,
    //       number: this.number,
    //       name: this.name,
    //       surname: this.surname,
    //       birth_date: this.birth_date,
    //       sex: this.sex,
    //       course: this.course,
    //       cpf: this.cpf,
    //       phone: this.phone,
    //       cellphone: this.cellphone,
    //       email: this.email,
    //       description: this.description,
    //       accessibility: this.accessibility,
    //       street: this.street,
    //       neighborhood: this.neighborhood,
    //       cep: this.cep,
    //       city: this.city,
    //       state: this.state
    //       // ...more.props...

    //     })
    //     .onOk((userEditData) => {
    //       this.onOKClick(userEditData)
    //     })
    //     .onCancel(() => {
    //
    //     })
    //     .onDismiss(() => {
    //
    //     })
    // }
  }
}
</script>
