// app global css in SCSS form
.main-card {
  width: 100%;
  min-height: calc(100vh - 50px);

  @media (min-width: $breakpoint-sm-min) {
    margin: 20px;
    max-width: 800px;
    min-height: 0;
  }
}

.break_word {
  word-wrap: break-word;
}

.main-card-content {
  width: 90%;
}

.login-card {
  width: 100%;
  height: calc(100vh - 50px);

  @media (min-width: $breakpoint-sm-min) {
    max-width: 400px;
    max-height: 400px;
  }
}

.login-card-content {
  width: 90%;
  height: 90%;

  @media (min-width: $breakpoint-sm-min) {
    width: 80%;
  }
}

.hide_mobile {
  display:none;

  @media (min-width: $breakpoint-sm-min) {
    display:block;
  }
}

.dialog_card_size {

  width: auto;
  @media (min-width: $breakpoint-sm-min) {
    max-width: 460px;
    width:460px
  }
}

