<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>
export default {
  name: 'App',

  created () {
    console.log('###########################')
    console.log('##                       ##')
    console.log('##   Made by Lai.Works   ##')
    console.log('##                       ##')
    console.log('###########################')
  }
}
</script>
